Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

build-admin:
  cache:
    key:
      files:
      - apps/admin/package-lock.json
    paths:
    - apps/admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - apps/admin/node_modules
  stage: build
  image: node:18
  script:
  - cd apps/admin
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-admin:
  stage: test
  image: node:18
  script:
  - cd admin
  - npm run test

deploy-admin:
  stage: deploy
  image: node:18
  script:
  - cd admin
  - echo "Deploying admin"

build-api:
  cache:
    key:
      files:
      - api/package-lock.json
    paths:
    - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - api/node_modules
  stage: build
  image: node:18
  script:
  - cd api
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-api:
  stage: test
  image: node:18
  script:
  - cd api
  - npm run test

deploy-api:
  stage: deploy
  image: node:18
  script:
  - cd api
  - echo "Deploying API"

build-client:
  cache:
    key:
      files:
      - apps/client/package-lock.json
    paths:
    - apps/client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - apps/client/node_modules
  stage: build
  image: node:18
  script:
  - cd apps/client
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-client:
  stage: test
  image: node:18
  script:
  - cd apps/client
  - npm run test

deploy-client:
  stage: deploy
  image: node:18
  script:
  - cd client
  - echo "Deploying client"

feat: implement invoice service
  docker-compose.ms-prod.yml
  files/src/utils/format.ts
  invoice/.dockerignore
  invoice/Dockerfile
  invoice/package-lock.json
  invoice/package.json
  invoice/src/config/index.ts
  invoice/src/controllers/invoice.controller.ts
  invoice/src/index.ts
  invoice/src/routes/invoice.ts
  invoice/src/services/invoice.service.ts
  invoice/src/types/customer.ts
  invoice/src/types/order.ts
  invoice/src/types/product.ts
  invoice/src/utils/converter.ts
  invoice/tsconfig.json
Due: none

chore(gateway): improve headers security with helmet
  apps/gateway/package.json
  apps/gateway/src/index.ts
  package-lock.json
Due: none

chore: update makefile
  Makefile
Due: none

chore: centralize entities types
  apps/cart/src/entities/cart.entity.ts
  apps/category/src/category/entities/category.entity.ts
  apps/order/src/entities/order.entity.ts
  apps/product/src/product/entities/product.entity.ts
  apps/review/src/review/entities/review.entity.ts
  apps/user/src/user/entities/user.entity.ts
  libs/types/src/index.ts
  libs/types/src/types/cart.ts
  libs/types/src/types/category.ts
  libs/types/src/types/order.ts
  libs/types/src/types/product.ts
  libs/types/src/types/review.ts
  libs/types/src/types/status.ts
  libs/types/src/types/user.ts
Due: none

refactor: review types
  apps/auth/package.json
  apps/auth/src/auth/auth.service.ts
  apps/cart/package.json
  apps/cart/src/services/cart.service.ts
  apps/gateway/src/middlewares/auth.ts
  apps/invoice/package.json
  apps/order/package.json
  apps/order/src/controllers/message.controller.ts
  apps/order/src/controllers/order.controller.ts
  apps/order/src/entities/order.entity.ts
  apps/order/src/services/order.service.ts
  apps/order/src/types/message.ts
  apps/order/src/types/order.ts
  apps/order/src/types/product.ts
  apps/payment/package.json
  apps/product/src/product/dtos/update-product.dto.ts
  apps/product/src/product/product.service.ts
  apps/review/src/review/dtos/update-review.dto.ts
  apps/review/src/review/review.service.ts
  apps/user/src/user/dtos/create-user.dto.ts
  apps/user/src/user/dtos/update-user.dto.ts
Due: none

refactor: handle exceptions in every express microservices
  apps/cart/src/controllers/cart.controller.ts
  apps/cart/src/index.ts
  apps/files/package.json
  apps/files/src/index.ts
  apps/files/src/routes/pdf.ts
  apps/files/src/services/template.service.ts
  apps/invoice/package.json
  apps/invoice/src/controllers/invoice.controller.ts
  apps/invoice/src/index.ts
  apps/invoice/src/services/invoice.service.ts
  apps/mailer/package.json
  apps/mailer/src/index.ts
  apps/mailer/src/routes/mailer.ts
  apps/order/package.json
  apps/order/src/controllers/order.controller.ts
  apps/order/src/index.ts
  apps/order/src/services/order.service.ts
  apps/payment/src/controllers/payment.controller.ts
  apps/payment/src/index.ts
  apps/payment/src/services/payment.service.ts
  apps/payment/src/types/stripe.ts
  libs/errors/src/lib/express/exceptionHandler.ts
  package-lock.json
Due: none

refactor: update compose and dockerfiles
  apps/admin/Dockerfile
  apps/analytics/Dockerfile
  apps/cart/.env.example
  apps/category/.env.example
  apps/client/Dockerfile
  apps/files/.env.example
  apps/files/Dockerfile
  apps/invoice/.env.example
  apps/mailer/.env.example
  apps/order/.env.example
  apps/payment/.env.example
  apps/product/.env.example
  apps/review/.env.example
  apps/user/.env.example
  docker-compose.ms-prod.yml
  libs/registry/services/auth.json
  libs/registry/services/cart.json
  libs/registry/services/category.json
  libs/registry/services/files.json
  libs/registry/services/invoice.json
  libs/registry/services/mailer.json
  libs/registry/services/order.json
  libs/registry/services/payment.json
  libs/registry/services/product.json
  libs/registry/services/review.json
  libs/registry/services/user.json
Due: build-admin, test-admin, deploy-admin, build-client, test-client, deploy-client

feat: add helpers library
  libs/helpers/package.json
  libs/helpers/src/index.ts
  libs/helpers/src/lib/fetch.ts
  libs/helpers/src/lib/resource.ts
  libs/helpers/tsconfig.json
  package-lock.json
Due: none

refactor: types and fetch usage
  apps/auth/package.json
  apps/auth/src/auth/auth.service.ts
  apps/cart/package.json
  apps/gateway/package.json
  apps/gateway/src/middlewares/auth.ts
  apps/gateway/src/middlewares/context.ts
  apps/gateway/src/types/express/index.d.ts
  apps/gateway/src/utils/proxy.ts
  apps/invoice/package.json
  apps/invoice/src/services/invoice.service.ts
  apps/payment/package.json
  libs/helpers/src/lib/fetch.ts
  libs/helpers/src/lib/resource.ts
  libs/registry/package.json
  libs/registry/src/helpers/fetch.ts
  libs/registry/src/index.ts
  libs/registry/src/lib/Registry.ts
  libs/registry/src/types/registry.ts
  libs/registry/src/utils/parser.ts
  libs/types/src/index.ts
  libs/types/src/types/registry.ts
  libs/types/src/types/route.ts
  libs/types/src/types/service.ts
  package-lock.json
Due: none

chore: review cart endpoints
  apps/cart/package.json
  apps/cart/src/controllers/cart.controller.ts
  apps/cart/src/routes/cart.ts
  apps/product/src/product/dtos/create-product.dto.ts
  apps/product/src/product/dtos/update-product.dto.ts
  apps/product/src/product/product.controller.ts
  libs/registry/services/cart.json
  package-lock.json
Due: none

chore: review payment endpoints
  apps/payment/package.json
  apps/payment/src/controllers/payment.controller.ts
  apps/payment/src/services/payment.service.ts
  libs/registry/services/payment.json
  package-lock.json
Due: none

chore: error handling and logging
  apps/analytics/package.json
  apps/analytics/src/index.ts
  apps/gateway/src/utils/proxy.ts
  libs/errors/src/lib/express/exceptionHandler.ts
  libs/helpers/src/lib/fetch.ts
  libs/helpers/src/lib/resource.ts
  package-lock.json
Due: none

feat: rework amqp lib with retry feature and better logic
  apps/order/src/types/message.ts
  libs/amqp/package.json
  libs/amqp/src/index.ts
  libs/amqp/src/lib/amqp.ts
  libs/amqp/src/lib/constants.ts
  libs/amqp/src/lib/storage.ts
  libs/amqp/src/types/data.ts
  libs/amqp/src/types/exchange.ts
  libs/amqp/src/types/queue.ts
Due: none

refactor: existing message listeners
  apps/cart/src/controllers/message.controller.ts
  apps/cart/src/index.ts
  apps/cart/src/lib/amqp.ts
  apps/mailer/src/controllers/message.controller.ts
  apps/mailer/src/index.ts
  apps/mailer/src/lib/amqp.ts
  apps/mailer/src/types/message.ts
  apps/mailer/src/types/order.ts
  apps/order/src/controllers/message.controller.ts
  apps/order/src/index.ts
  apps/order/src/lib/amqp.ts
  apps/payment/src/controllers/payment.controller.ts
  apps/payment/src/index.ts
  apps/payment/src/lib/amqp.ts
Due: none

feat: implement amqp on necessary services
  apps/analytics/package.json
  apps/cart/src/controllers/message.controller.ts
  apps/mailer/src/controllers/message.controller.ts
  apps/product/.env.example
  apps/product/package.json
  apps/product/src/lib/amqp.ts
  apps/product/src/main.ts
  apps/product/src/message/message.controller.ts
  apps/review/.env.example
  apps/review/package.json
  apps/review/src/lib/amqp.ts
  apps/review/src/main.ts
  apps/review/src/review/review.service.ts
  apps/user/.env.example
  apps/user/package.json
  apps/user/src/lib/amqp.ts
  apps/user/src/main.ts
  apps/user/src/user/user.service.ts
  docker-compose.ms-prod.yml
  libs/amqp/src/types/data.ts
  libs/amqp/src/types/exchange.ts
  libs/amqp/src/types/queue.ts
  package-lock.json
Due: none

fix: few routes behavior
  apps/payment/src/services/payment.service.ts
  apps/payment/src/types/stripe.ts
  apps/product/src/product/dtos/create-product.dto.ts
  apps/product/src/product/entities/product.entity.ts
  apps/product/src/product/product.controller.ts
  apps/review/src/review/dtos/create-review.dto.ts
  apps/review/src/review/dtos/update-review.dto.ts
  apps/review/src/review/review.controller.ts
  libs/registry/services/review.json
Due: none

chore: review user service
  apps/auth/tsconfig.json
  apps/user/src/user/dtos/update-user.dto.ts
  apps/user/src/user/pipes/empty-body.ts
  apps/user/src/user/user.controller.ts
  apps/user/src/user/user.service.ts
  apps/user/tsconfig.json
  libs/registry/services/user.json
Due: none

chore: review category service
  apps/category/src/category/category.controller.ts
  apps/category/src/category/category.service.ts
  apps/category/src/category/dtos/create-category.dto.ts
  apps/category/src/category/dtos/update-category.dto.ts
  apps/category/src/category/entities/category.entity.ts
  apps/category/src/category/pipes/empty-body.ts
  apps/category/tsconfig.json
  libs/registry/services/category.json
Due: none

chore: review product service
  apps/product/package.json
  apps/product/src/product/dtos/create-product.dto.ts
  apps/product/src/product/dtos/update-product.dto.ts
  apps/product/src/product/entities/product.entity.ts
  apps/product/src/product/product.controller.ts
  apps/product/tsconfig.json
  libs/dictionary/src/types/product.ts
  package-lock.json
Due: none

chore: review review service
  apps/review/package.json
  apps/review/src/review/dtos/create-review.dto.ts
  apps/review/src/review/dtos/update-review.dto.ts
  apps/review/src/review/review.controller.ts
  apps/review/src/review/review.service.ts
  apps/review/tsconfig.json
  package-lock.json
Due: none

chore: review order service
  apps/order/package.json
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
  libs/errors/src/lib/express/exceptionHandler.ts
  libs/registry/services/order.json
  package-lock.json
Due: none

chore: review invoice service
  apps/invoice/src/controllers/invoice.controller.ts
  apps/invoice/src/services/invoice.service.ts
  apps/invoice/src/types/customer.ts
  apps/invoice/src/types/order.ts
  apps/invoice/src/types/product.ts
  apps/order/src/controllers/order.controller.ts
  apps/order/src/routes/order.ts
  apps/order/src/services/order.service.ts
  libs/helpers/src/lib/fetch.ts
  libs/registry/services/order.json
Due: none

refactor: amqp listeners
  apps/cart/src/index.ts
  apps/cart/src/lib/amqp.ts
  apps/mailer/src/index.ts
  apps/mailer/src/lib/amqp.ts
  apps/order/src/index.ts
  apps/order/src/lib/amqp.ts
  apps/payment/src/index.ts
  apps/payment/src/lib/amqp.ts
Due: none

chore(gateway): add cors policy
  apps/analytics/src/config/index.ts
  apps/cart/src/index.ts
  apps/files/src/index.ts
  apps/gateway/src/index.ts
  apps/invoice/src/index.ts
  apps/mailer/src/index.ts
  apps/order/src/index.ts
  apps/payment/src/index.ts
Due: none

feat(admin): ✨ Add search bar for Table component
  apps/admin/src/components/Table/SearchBar.tsx
  apps/admin/src/components/Table/Table.tsx
Due: build-admin, test-admin, deploy-admin

🚧 feat(admin): Add Login, ForgotPassword and NotFound components
  apps/admin/src/assets/images/admin.webp
  apps/admin/src/assets/images/forgot-password.avif
  apps/admin/src/layouts/AuthLayout.tsx
  apps/admin/src/pages/ForgotPassword.tsx
  apps/admin/src/pages/Login.tsx
  apps/admin/src/pages/errors/NotFound.tsx
  apps/admin/src/routes/admin.tsx
  apps/admin/src/routes/auth.tsx
  apps/admin/src/routes/index.tsx
Due: build-admin, test-admin, deploy-admin

🚧 feat(admin): Add Auth logic
  apps/admin/src/App.tsx
  apps/admin/src/api/index.ts
  apps/admin/src/api/user.api.ts
  apps/admin/src/components/Header/Header.tsx
  apps/admin/src/components/Header/HeaderMenu.tsx
  apps/admin/src/hooks/componentUpdate.ts
  apps/admin/src/hooks/context.ts
  apps/admin/src/layouts/DefaultLayout.tsx
  apps/admin/src/pages/Login.tsx
  apps/admin/src/providers/AuthProvider.tsx
  apps/admin/src/providers/UserProvider.tsx
  apps/admin/src/types/storage.ts
  apps/admin/src/types/token.ts
  apps/admin/src/types/user.ts
  apps/admin/src/utils/isLocalStorageAvailable.ts
  apps/admin/src/utils/storage.ts
Due: build-admin, test-admin, deploy-admin

🚧 feat(admin): Add Modal component / Update Sidebar component
  apps/admin/src/components/Modal/Modal.tsx
  apps/admin/src/components/Modal/ModalButton.tsx
  apps/admin/src/components/Modal/ModalIconButton.tsx
  apps/admin/src/components/Modal/ModalProduct.tsx
  apps/admin/src/components/Modal/index.tsx
  apps/admin/src/components/Sidebar/Sidebar.tsx
  apps/admin/src/components/Table/Table.tsx
  apps/admin/src/components/Table/TableRow.tsx
  apps/admin/src/pages/Admins.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/pages/Sellers.tsx
  apps/admin/src/routes/admin.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin): Handle login logic
  apps/admin/.env.example
  apps/admin/src/api/user.api.ts
  apps/admin/src/components/Header/Header.tsx
  apps/admin/src/components/Header/HeaderMenu.tsx
  apps/admin/src/layouts/AuthLayout.tsx
  apps/admin/src/layouts/DefaultLayout.tsx
  apps/admin/src/providers/AuthProvider.tsx
  apps/admin/src/routes/admin.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin): Add Order component with API call
  apps/admin/package.json
  apps/admin/src/api/index.ts
  apps/admin/src/api/order.api.ts
  apps/admin/src/api/user.api.ts
  apps/admin/src/pages/Orders.tsx
  apps/admin/src/routes/admin.tsx
  package-lock.json
Due: build-admin, test-admin, deploy-admin

👽feat(admin): Update Product component with API call
  apps/admin/src/api/product.api.ts
  apps/admin/src/components/Modal/ModalProduct.tsx
  apps/admin/src/components/Table/Table.tsx
  apps/admin/src/components/Table/TableHeader.tsx
  apps/admin/src/components/Table/TableRow.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/types/table.ts
Due: build-admin, test-admin, deploy-admin

👽feat(admin): Add Category component with API call
  apps/admin/src/api/category.api.ts
  apps/admin/src/pages/Categories.tsx
  apps/admin/src/providers/AuthProvider.tsx
  apps/admin/src/routes/admin.tsx
Due: build-admin, test-admin, deploy-admin

feat: implement profile service
  apps/profile/.dockerignore
  apps/profile/.env.example
  apps/profile/.eslintrc.js
  apps/profile/.prettierrc
  apps/profile/Dockerfile
  apps/profile/nest-cli.json
  apps/profile/package.json
  apps/profile/src/app.module.ts
  apps/profile/src/business/business.controller.ts
  apps/profile/src/business/business.module.ts
  apps/profile/src/business/business.service.ts
  apps/profile/src/business/dtos/create-business-request.dto.ts
  apps/profile/src/business/dtos/update-profile.dto.ts
  apps/profile/src/business/entities/business-profile.entity.ts
  apps/profile/src/business/entities/business-request.entity.ts
  apps/profile/src/config/database.config.ts
  apps/profile/src/customer/customer.controller.ts
  apps/profile/src/customer/customer.module.ts
  apps/profile/src/customer/customer.service.ts
  apps/profile/src/customer/dtos/update-profile.dto.ts
  apps/profile/src/customer/entities/customer-profile.entity.ts
  apps/profile/src/lib/amqp.ts
  apps/profile/src/main.ts
  apps/profile/src/message/message.controller.ts
  apps/profile/test/app.e2e-spec.ts
  apps/profile/test/jest-e2e.json
  apps/profile/tsconfig.build.json
  apps/profile/tsconfig.json
  docker-compose.ms-prod.yml
  libs/dictionary/src/index.ts
  libs/dictionary/src/types/business.ts
  libs/dictionary/src/types/profile.ts
  libs/registry/services/profile.json
Due: none

feat: implement inventory service
  apps/inventory/.dockerignore
  apps/inventory/.env.example
  apps/inventory/Dockerfile
  apps/inventory/package.json
  apps/inventory/src/config/index.ts
  apps/inventory/src/controllers/inventory.controller.ts
  apps/inventory/src/controllers/message.controller.ts
  apps/inventory/src/database/index.ts
  apps/inventory/src/entities/inventory.entity.ts
  apps/inventory/src/index.ts
  apps/inventory/src/lib/amqp.ts
  apps/inventory/src/routes/inventory.ts
  apps/inventory/src/services/inventory.service.ts
  apps/inventory/tsconfig.json
  docker-compose.ms-prod.yml
  libs/dictionary/src/index.ts
  libs/dictionary/src/types/inventory.ts
  libs/registry/services/inventory.json
Due: none

feat: implement search service
  apps/search/.dockerignore
  apps/search/.env.example
  apps/search/Dockerfile
  apps/search/package.json
  apps/search/src/config/index.ts
  apps/search/src/controllers/search.controller.ts
  apps/search/src/index.ts
  apps/search/src/routes/search.ts
  apps/search/src/services/search.service.ts
  apps/search/tsconfig.json
  docker-compose.ms-prod.yml
  libs/dictionary/src/types/service.ts
  libs/registry/services/inventory.json
  libs/registry/services/search.json
  package-lock.json
Due: none

fix: review creation
  apps/review/src/review/review.service.ts
Due: none

✨ feat(admin): Add Review page
  apps/admin/src/api/review.api.ts
  apps/admin/src/assets/icons/star.svg
  apps/admin/src/components/Modal/ModalReview.tsx
  apps/admin/src/components/Sidebar/Sidebar.tsx
  apps/admin/src/components/Sidebar/SidebarMenuItem.tsx
  apps/admin/src/pages/Reviews.tsx
  apps/admin/src/routes/admin.tsx
Due: build-admin, test-admin, deploy-admin

💬 feat(admin): Update Navbar
  apps/admin/src/components/Header/Header.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin): Fix Order component
  apps/admin/src/components/Modal/ModalOrder.tsx
  apps/admin/src/pages/Orders.tsx
Due: build-admin, test-admin, deploy-admin

Path conditions:
  build-admin: any of: apps/admin/**/*
  test-admin: any of: apps/admin/**/*
  deploy-admin: any of: apps/admin/**/*
  build-api: any of: api/**/*
  test-api: any of: api/**/*
  deploy-api: any of: api/**/*
  build-client: any of: apps/client/**/*
  test-client: any of: apps/client/**/*
  deploy-client: any of: apps/client/**/*
