Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

build-admin:
  cache:
    key:
      files:
      - admin/package-lock.json
    paths:
    - admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - admin/node_modules
  stage: build
  image: node:18
  script:
  - cd admin
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-admin:
  stage: test
  image: node:18
  script:
  - cd admin
  - npm run test

deploy-admin:
  stage: deploy
  image: node:18
  script:
  - cd admin
  - echo "Deploying admin"

build-api:
  cache:
    key:
      files:
      - api/package-lock.json
    paths:
    - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - api/node_modules
  stage: build
  image: node:18
  script:
  - cd api
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-api:
  stage: test
  image: node:18
  script:
  - cd api
  - npm run test

deploy-api:
  stage: deploy
  image: node:18
  script:
  - cd api
  - echo "Deploying API"

build-client:
  cache:
    key:
      files:
      - client/package-lock.json
    paths:
    - client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - client/node_modules
  stage: build
  image: node:18
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-client:
  stage: test
  image: node:18
  script:
  - cd client
  - npm run test

deploy-client:
  stage: deploy
  image: node:18
  script:
  - cd client
  - echo "Deploying client"

feat(terraform): use vpc ip for database connection
  terraform/main.tf
Due: none

feat(terraform): provision vpc peering
  terraform/main.tf
Due: none

fix(terraform): fix allocated ip range name
  terraform/main.tf
Due: none

refactor: rename the readonly-secrets service account to api
  kubernetes/api.yml
  kubernetes/service-account.yml
  terraform/iam.tf
  terraform/main.tf
Due: none

feat(kubernetes): add cloud sql proxy sidecar to api
  kubernetes/api.yml
  terraform/variables.tf
Due: none

fix: fix api service account name length
  kubernetes/api.yml
  kubernetes/service-account.yml
  terraform/iam.tf
Due: none

feat(terraform): upscale default node pool
  terraform/main.tf
Due: none

feat(kubernetes): reduce api cpu request to 100m
  kubernetes/api.yml
Due: none

feat(terraform): grant api service account cloud sql client role
  terraform/iam.tf
Due: none

feat: setup api host
  kubernetes/api.yml
  terraform/main.tf
Due: none

fix: fix dns managed zone name
  terraform/main.tf
Due: none

fix(terraform): fix api service account iam
  terraform/iam.tf
Due: none

feat: setup ingress for the client
  kubernetes/client.yml
Due: none

feat: setup dns record for the client
  terraform/main.tf
Due: none

fix: fix services routing
  kubernetes/api.yml
  kubernetes/client.yml
  kubernetes/routing.yml
Due: none

fix(terraform): fix dns records
  terraform/main.tf
Due: none

fix: fix client exposed port
  kubernetes/client.yml
  kubernetes/routing.yml
Due: none

fix: fix root domain dns and ingress
  kubernetes/routing.yml
  terraform/main.tf
Due: none

feat: redirect root domain to www
  terraform/main.tf
Due: none

feat: remove shiftershop.pro ingress rule
  kubernetes/routing.yml
Due: none

chore: remove unused certificate
  kubernetes/routing.yml
Due: none

Revert "Merge branch 'fix/remove-unusde-certificate' into 'dev'"
  kubernetes/routing.yml
Due: none

🦺 feat(validation): Add validation for category and product
  api/src/category/category.controller.ts
  api/src/category/dtos/create-category.dto.ts
  api/src/category/dtos/update-category.dto.ts
  api/src/product/dtos/create-product.dto.ts
  api/src/product/dtos/update-product.dto.ts
  api/src/product/product.controller.ts
Due: build-api, test-api, deploy-api

🦺 feat(validation): Add validation for Order and Review + Update validation on Product
  api/src/order/dtos/create-order.dto.ts
  api/src/order/dtos/update-order-status.dto.ts
  api/src/order/order.controller.ts
  api/src/product/dtos/update-product.dto.ts
  api/src/review/dtos/create-review.dto.ts
  api/src/review/dtos/update-review.dto.ts
  api/src/review/review.controller.ts
Due: build-api, test-api, deploy-api

feat: remove www subdomain
  kubernetes/routing.yml
  terraform/main.tf
Due: none

feat(client): sync filters in search params
  client/.vscode/settings.json
  client/data/products.json
  client/src/api/category.api.ts
  client/src/api/product.api.ts
  client/src/components/home/CategoryCard.tsx
  client/src/pages/Home.tsx
  client/src/pages/ProductList.tsx
  client/src/routes/index.tsx
  client/src/types/params.ts
  client/src/types/product.ts
Due: build-client, test-client, deploy-client

feat: upgrade dummy images links to https
  client/data/categories.json
  client/data/products.json
Due: build-client, test-client, deploy-client

feat(client): add link on product image
  client/src/components/ProductCard.tsx
  client/src/components/cart/CartProductCard.tsx
Due: build-client, test-client, deploy-client

feat: add link on order product card image
  client/src/components/account/OrderProductCard.tsx
Due: build-client, test-client, deploy-client

feat: add update password form
  client/package-lock.json
  client/package.json
  client/src/api/user.api.ts
  client/src/components/Input.tsx
  client/src/main.tsx
  client/src/pages/customer/ChangePassword.tsx
  client/src/routes/index.tsx
Due: build-client, test-client, deploy-client

refactor: update profile form
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/user.api.ts
  client/src/components/Button.tsx
  client/src/components/Form.tsx
  client/src/components/Input.tsx
  client/src/pages/customer/ChangePassword.tsx
  client/src/pages/customer/Profile.tsx
Due: build-client, test-client, deploy-client

feat: setup business app
  business/.eslintrc.cjs
  business/.gitignore
  business/Dockerfile
  business/config/nginx.conf
  business/index.html
  business/package-lock.json
  business/package.json
  business/public/vite.svg
  business/src/App.css
  business/src/App.tsx
  business/src/assets/react.svg
  business/src/index.css
  business/src/main.tsx
  business/src/vite-env.d.ts
  business/tailwind.config.js
  business/tsconfig.json
  business/tsconfig.node.json
  business/vite.config.ts
  kubernetes/business.yml
  kubernetes/routing.yml
  terraform/main.tf
Due: none

Revert "Merge branch 'feat/business' into 'dev'"
  business/.eslintrc.cjs
  business/.gitignore
  business/Dockerfile
  business/config/nginx.conf
  business/index.html
  business/package-lock.json
  business/package.json
  business/public/vite.svg
  business/src/App.css
  business/src/App.tsx
  business/src/assets/react.svg
  business/src/index.css
  business/src/main.tsx
  business/src/vite-env.d.ts
  business/tailwind.config.js
  business/tsconfig.json
  business/tsconfig.node.json
  business/vite.config.ts
  kubernetes/business.yml
  kubernetes/routing.yml
  terraform/main.tf
Due: none

feat(client): add become seller pages
  client/data/user.json
  client/data/users.json
  client/package-lock.json
  client/package.json
  client/src/api/user.api.ts
  client/src/components/Footer.tsx
  client/src/components/Form.tsx
  client/src/components/Input.tsx
  client/src/components/business/register/Header.tsx
  client/src/components/business/register/Step.tsx
  client/src/components/business/register/Steps.tsx
  client/src/hooks/context.ts
  client/src/layouts/business/RegisterLayout.tsx
  client/src/pages/business/LogIn.tsx
  client/src/pages/business/Register/BecomeSeller.tsx
  client/src/pages/business/Register/BusinessInfo.tsx
  client/src/pages/business/Register/Finish.tsx
  client/src/pages/business/Register/Landing.tsx
  client/src/pages/business/Register/index.tsx
  client/src/providers/business/RegisterContext.tsx
  client/src/routes/business.tsx
  client/src/routes/index.tsx
  client/tailwind.config.cjs
  client/tsconfig.json
Due: build-client, test-client, deploy-client

chore: add lint and format rules
  client/.eslintrc.cjs
  client/.prettierrc
  client/.vscode/settings.json
  client/package-lock.json
  client/package.json
Due: build-client, test-client, deploy-client

feat: make home page responsive
  client/src/components/Footer.tsx
  client/src/components/Header.tsx
  client/src/components/Logo.tsx
  client/src/components/ProductCard.tsx
  client/src/components/SearchBar.tsx
  client/src/components/home/Ad.tsx
  client/src/components/home/CategoryCard.tsx
  client/src/components/home/Hero.tsx
  client/src/pages/Home.tsx
Due: build-client, test-client, deploy-client

feat: make product related pages responsive
  client/src/components/business/register/Steps.tsx
  client/src/pages/Product.tsx
  client/src/pages/ProductList.tsx
  client/src/pages/business/LogIn.tsx
Due: build-client, test-client, deploy-client

feat: make cart page responsive
  client/src/components/cart/CartProductCard.tsx
  client/src/pages/Cart.tsx
Due: build-client, test-client, deploy-client

fix: fix login page container
  client/src/pages/Login.tsx
Due: build-client, test-client, deploy-client

Path conditions:
  build-admin: any of: admin/**/*
  test-admin: any of: admin/**/*
  deploy-admin: any of: admin/**/*
  build-api: any of: api/**/*
  test-api: any of: api/**/*
  deploy-api: any of: api/**/*
  build-client: any of: client/**/*
  test-client: any of: client/**/*
  deploy-client: any of: client/**/*
