Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

.gitlab/admin.gitlab-ci.yml:

.cache-admin:
  cache:
    key:
      files:
        - apps/admin/package-lock.json
    paths:
      - apps/admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - apps/admin/node_modules

build-admin:
  stage: build
  image: node:18
  script:
    - cd apps/admin
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-admin
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/admin/**/*

test-admin:
  stage: test
  image: node:18
  script:
    - cd admin
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/admin/**/*

deploy-admin:
  stage: deploy
  image: node:18
  script:
    - cd admin
    - echo "Deploying admin"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/admin/**/*

.gitlab/api.gitlab-ci.yml:

.cache-api:
  cache:
    key:
      files:
        - api/package-lock.json
    paths:
      - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - api/node_modules

build-api:
  stage: build
  image: node:18
  script:
    - cd api
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-api
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

test-api:
  stage: test
  image: node:18
  script:
    - cd api
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

deploy-api:
  stage: deploy
  image: node:18
  script:
    - cd api
    - echo "Deploying API"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - api/**/*

.gitlab/client.gitlab-ci.yml:

.cache-client:
  cache:
    key:
      files:
        - apps/client/package-lock.json
    paths:
      - apps/client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - apps/client/node_modules

build-client:
  stage: build
  image: node:18
  script:
    - cd apps/client
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-client
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/client/**/*

test-client:
  stage: test
  image: node:18
  script:
    - cd apps/client
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/client/**/*

deploy-client:
  stage: deploy
  image: node:18
  script:
    - cd client
    - echo "Deploying client"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/client/**/*

chore: rename agent file
  .gitlab-ci.yml
  .gitlab/agents/primary-agent/config.yaml
Due: none

fix: ci stages
  .gitlab-ci.yml
Due: none

chore: use kube context
  .gitlab-ci.yml
Due: none

chore: authorize ci access to k8s cluster
  .gitlab-ci.yml
  .gitlab/agents/cluster-agent/config.yaml
Due: none

chore: test kubectl stage
  .gitlab-ci.yml
Due: none

chore: sync nx with npm workspaces
  nx.json
Due: none

chore: debug script
  scripts/gitlab/generate-deploy.js
Due: none

chore: enable ci on this branch
  .gitlab-ci.yml
Due: none

chore: update script
  apps/admin/src/routes/index.tsx
  scripts/gitlab/generate-deploy.js
Due: build-admin, test-admin, deploy-admin

chore: job dependencies
  .gitlab-ci.yml
  scripts/gitlab/generate-deploy.js
Due: none

chore: disable ci on this branch
  .gitlab-ci.yml
Due: none

chore(k8s) : update deployments images path
  kubernetes/api/api-gateway.yml
  kubernetes/api/auth-svc.yml
  kubernetes/api/cart-svc.yml
  kubernetes/api/category-svc.yml
  kubernetes/api/files-svc.yml
  kubernetes/api/inventory-svc.yml
  kubernetes/api/invoice-svc.yml
  kubernetes/api/mailer-svc.yml
  kubernetes/api/order-svc.yml
  kubernetes/api/payment-svc.yml
  kubernetes/api/product-svc.yml
  kubernetes/api/profile-svc.yml
  kubernetes/api/review-svc.yml
  kubernetes/api/search-svc.yml
  kubernetes/api/user-svc.yml
  kubernetes/web/admin.yml
  kubernetes/web/client.yml
  scripts/gitlab/generate-deploy.js
Due: none

fix: deploy script
  apps/client/src/routes/index.tsx
  scripts/gitlab/generate-deploy.js
Due: build-client, test-client, deploy-client

chore: trigger deploy
  .gitlab-ci.yml
  apps/admin/src/index.css
  apps/client/src/components/business/register/Steps.tsx
  scripts/gitlab/generate-deploy.js
Due: build-admin, test-admin, deploy-admin, build-client, test-client, deploy-client

chore: trigger test
  .gitlab-ci.yml
Due: none

fix: missing lib
  apps/user-svc/package.json
  package-lock.json
Due: none

chore(ci): final deploy script
  .gitlab-ci.yml
  apps/product-svc/src/product/dtos/find-all-query.dto.ts
  scripts/gitlab/generate-deploy.js
Due: none

chore: test deploy
  apps/product-svc/src/product/product.controller.ts
Due: none

faet: implement gcp cloud logging transport
  libs/logger/package.json
  libs/logger/src/lib/logger.ts
  package-lock.json
Due: none

feat(client): add production creation
  apps/client/src/api/product.api.ts
  apps/client/src/hooks/useProduct.ts
  apps/client/src/pages/Product.tsx
  apps/client/src/pages/business/Dashboard/NewProduct.tsx
  apps/client/src/pages/business/Dashboard/Products.tsx
  apps/client/src/routes/business.tsx
  apps/client/src/types/product.ts
  apps/product-svc/src/product/dtos/create-product.dto.ts
  apps/product-svc/src/product/product.controller.ts
  apps/product-svc/src/product/product.service.ts
Due: build-client, test-client, deploy-client

chore: add command to copy .env.example to .env
  Makefile
Due: none

chore(k8s): disable winston cloud logging
  libs/logger/src/lib/logger.ts
Due: none

feat(client): add links to business dashboard
  apps/client/src/components/Header.tsx
  apps/client/src/hooks/useLogin.ts
  apps/client/src/pages/account/Account.tsx
Due: build-client, test-client, deploy-client

feat: assign random image to products
  apps/client/src/components/ProductCard.tsx
  apps/product-svc/src/product/product.controller.ts
Due: build-client, test-client, deploy-client

feat(client): redirect to reviews after review
  apps/client/src/hooks/useReview.ts
  apps/client/src/pages/account/NewReview.tsx
Due: build-client, test-client, deploy-client

feat: order orders by date
  apps/order-svc/src/services/order.service.ts
Due: none

feat: handle created order email
  apps/files-svc/src/assets/templates/order-created.hbs
  apps/files-svc/src/routes/html.ts
  apps/mailer-svc/package.json
  apps/mailer-svc/src/controllers/message.controller.ts
  libs/logger/src/lib/logger.ts
  package-lock.json
Due: none

✨feat(admin): Add business validation
  apps/admin/src/api/profile.api.ts
  apps/admin/src/components/Sidebar/Sidebar.tsx
  apps/admin/src/pages/BusinessRequests.tsx
  apps/admin/src/routes/admin.tsx
  apps/profile-svc/src/business/business.controller.ts
  apps/profile-svc/src/business/business.service.ts
  apps/profile-svc/src/business/dtos/update-request.ts
  apps/review-svc/src/review/review.controller.ts
  libs/registry/services/profile.json
Due: build-admin, test-admin, deploy-admin

✨🩹feat(admin): Add status managment on Categories and Users + fix api call due to changes
  apps/admin/src/api/product.api.ts
  apps/admin/src/pages/Admins.tsx
  apps/admin/src/pages/Categories.tsx
  apps/admin/src/pages/Customers.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/pages/Sellers.tsx
  apps/product-svc/src/product/product.controller.ts
Due: build-admin, test-admin, deploy-admin

feat: update error messages display
  apps/client/src/hooks/useCheckout.ts
  apps/client/src/hooks/useProduct.ts
  apps/client/src/hooks/useRegister.ts
  apps/client/src/hooks/useReview.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/pages/account/ChangePassword.tsx
  apps/client/src/pages/business/Register/BusinessInfo.tsx
  apps/client/src/pages/business/Register/index.tsx
  apps/client/src/providers/DownloadProvider.tsx
Due: build-client, test-client, deploy-client

🩹feat(admin): Fix set status on products
  apps/product-svc/src/product/product.controller.ts
  apps/product-svc/src/product/product.service.ts
Due: none

🔇feat(admin): Remove console.log on success
  apps/admin/src/pages/Admins.tsx
  apps/admin/src/pages/BusinessRequests.tsx
  apps/admin/src/pages/Categories.tsx
  apps/admin/src/pages/Customers.tsx
  apps/admin/src/pages/Orders.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/pages/Reviews.tsx
  apps/admin/src/pages/Sellers.tsx
  apps/client/src/api/product.api.ts
Due: build-admin, test-admin, deploy-admin, build-client, test-client, deploy-client

🔒feat(admin): Hide deleted products
  apps/product-svc/src/product/product.controller.ts
  apps/product-svc/src/product/product.service.ts
Due: none

🥅chore(review): Catch error on review since managing order status
  apps/review-svc/src/review/review.service.ts
Due: none

chore(k8s): beef up deployments
  kubernetes/api/api-gateway.yml
  kubernetes/api/auth-svc.yml
  kubernetes/api/cart-svc.yml
  kubernetes/api/category-svc.yml
  kubernetes/api/files-svc.yml
  kubernetes/api/inventory-svc.yml
  kubernetes/api/invoice-svc.yml
  kubernetes/api/mailer-svc.yml
  kubernetes/api/order-svc.yml
  kubernetes/api/payment-svc.yml
  kubernetes/api/product-svc.yml
  kubernetes/api/profile-svc.yml
  kubernetes/api/review-svc.yml
  kubernetes/api/search-svc.yml
  kubernetes/api/user-svc.yml
  kubernetes/web/admin.yml
  kubernetes/web/client.yml
Due: none

feat(client): update loading states
  apps/client/src/pages/Home.tsx
  apps/client/src/pages/Products.tsx
Due: build-client, test-client, deploy-client
