Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

.gitlab/admin.gitlab-ci.yml:

.cache-admin:
  cache:
    key:
      files:
        - apps/admin/package-lock.json
    paths:
      - apps/admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - apps/admin/node_modules

build-admin:
  stage: build
  image: node:18
  script:
    - cd apps/admin
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-admin
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/admin/**/*

test-admin:
  stage: test
  image: node:18
  script:
    - cd admin
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/admin/**/*

deploy-admin:
  stage: deploy
  image: node:18
  script:
    - cd admin
    - echo "Deploying admin"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/admin/**/*

.gitlab/api.gitlab-ci.yml:

.cache-api:
  cache:
    key:
      files:
        - api/package-lock.json
    paths:
      - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - api/node_modules

build-api:
  stage: build
  image: node:18
  script:
    - cd api
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-api
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

test-api:
  stage: test
  image: node:18
  script:
    - cd api
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

deploy-api:
  stage: deploy
  image: node:18
  script:
    - cd api
    - echo "Deploying API"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - api/**/*

.gitlab/client.gitlab-ci.yml:

.cache-client:
  cache:
    key:
      files:
        - apps/client/package-lock.json
    paths:
      - apps/client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - apps/client/node_modules

build-client:
  stage: build
  image: node:18
  script:
    - cd apps/client
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-client
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/client/**/*

test-client:
  stage: test
  image: node:18
  script:
    - cd apps/client
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/client/**/*

deploy-client:
  stage: deploy
  image: node:18
  script:
    - cd client
    - echo "Deploying client"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/client/**/*

refactor(k8s): env secrets mapping
  kubernetes/api/auth-svc.yml
  kubernetes/api/cart-svc.yml
  kubernetes/api/category-svc.yml
  kubernetes/api/inventory-svc.yml
  kubernetes/api/mailer-svc.yml
  kubernetes/api/order-svc.yml
  kubernetes/api/payment-svc.yml
  kubernetes/api/product-svc.yml
  kubernetes/api/profile-svc.yml
  kubernetes/api/review-svc.yml
  kubernetes/api/user-svc.yml
  kubernetes/development/template/mailer.template.yml
  kubernetes/development/template/secrets.tempate.yml
Due: none

chore(k8s): update ingress and refactor secrets
  kubernetes/amqp.yml
  kubernetes/configmap.yml
  kubernetes/development/optional/secrets.tempate.yml
  kubernetes/ingress.yml
  kubernetes/secret-manager.yml
  kubernetes/secrets/secret-manager.yml
  kubernetes/secrets/secret-storage.yml
  kubernetes/secrets/service-account.yml
Due: none

chore: add license
  LICENSE
  README.md
Due: none

fix(client): strip password confirmation from register request
  apps/client/src/api/auth.api.ts
  apps/client/src/types/auth.ts
Due: build-client, test-client, deploy-client

fix: protect routes
  apps/review/src/review/review.controller.ts
  apps/review/src/review/review.service.ts
  libs/registry/services/inventory.json
  libs/registry/services/review.json
  libs/registry/services/user.json
Due: none

feat(auth): require auth before checkout
  apps/client/src/components/Auth.tsx
  apps/client/src/pages/Cart.tsx
  apps/client/src/pages/CheckoutSuccess.tsx
  apps/client/src/pages/Login.tsx
  apps/client/src/pages/Register.tsx
  apps/client/src/routes/funnel.tsx
  apps/client/src/routes/index.tsx
  apps/client/src/routes/public.tsx
Due: build-client, test-client, deploy-client

🔧chore(admin): Preserve symbolic lin ks
  apps/admin/vite.config.ts
Due: build-admin, test-admin, deploy-admin

feat(cart): add cart synchronization
  apps/cart/package.json
  apps/cart/src/controllers/cart.controller.ts
  apps/cart/src/routes/cart.ts
  apps/cart/src/services/cart.service.ts
  apps/cart/src/validation/SyncCart.ts
  libs/registry/services/cart.json
  package-lock.json
Due: none

🐛chore(admin): Fix login (token storing/retrieving)
  apps/admin/src/hooks/componentUpdate.ts
  apps/admin/src/providers/AuthProvider.tsx
Due: build-admin, test-admin, deploy-admin

🩹chore(admin): Fix returned result on order's service
  apps/order/src/services/order.service.ts
Due: none

fea(client): update cart synchronization
  apps/client/src/api/cart.api.ts
  apps/client/src/hooks/useCartSynchronization.ts
  apps/client/src/types/cart.ts
Due: build-client, test-client, deploy-client

🔒fix(admin): Add security on login (only ADMIN)
  apps/admin/src/api/user.api.ts
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.service.ts
  apps/user/src/user/user.service.ts
  libs/registry/services/auth.json
Due: build-admin, test-admin, deploy-admin

fix: unknown product can't be added to cart
  apps/cart/src/controllers/cart.controller.ts
  apps/cart/src/services/cart.service.ts
Due: none

fix(client): fix build
  apps/client/src/components/Auth.tsx
Due: build-client, test-client, deploy-client

👷chore(pipeline): Fix pipeline
  .gitlab-ci.yml
Due: none

🔧chore(pipeline): Fix pipeline
  .gitlab-ci.yml
Due: none

feat(client): protect account routes
  apps/client/src/components/Auth.tsx
  apps/client/src/components/account/Sidebar.tsx
  apps/client/src/hooks/context.ts
  apps/client/src/layouts/CustomerLayout.tsx
  apps/client/src/pages/account/Account.tsx
  apps/client/src/providers/CustomerProvider.tsx
  apps/client/src/routes/account.tsx
Due: build-client, test-client, deploy-client

fix(profile): fix address validation
  apps/profile/src/address/dto/create-address.dto.ts
Due: none

feat: add address on order
  apps/client/src/api/payment.api.ts
  apps/client/src/components/account/Address.tsx
  apps/client/src/components/forms/AddressForm.tsx
  apps/client/src/pages/Checkout.tsx
  apps/client/src/pages/business/Register/BusinessInfo.tsx
  apps/client/src/providers/business/RegisterContext.tsx
  apps/client/src/types/address.ts
  apps/order/src/controllers/message.controller.ts
  apps/order/src/controllers/order.controller.ts
  apps/order/src/entities/order.entity.ts
  apps/payment/package.json
  apps/payment/src/controllers/payment.controller.ts
  apps/payment/src/services/payment.service.ts
  apps/payment/src/types/stripe.ts
  apps/payment/src/validation/Address.ts
  apps/profile/src/address/dto/create-address.dto.ts
  apps/profile/src/address/entities/address.entity.ts
  libs/amqp/src/types/data.ts
  libs/dictionary/src/types/order.ts
  libs/dictionary/src/types/profile.ts
  package-lock.json
  scripts/sql/shifter-shop-cluster.sql
Due: build-client, test-client, deploy-client

fix(review): remove bad validation
  apps/review/src/review/dtos/create-review.dto.ts
Due: none

feat(review): order by date
  apps/review/src/review/review.service.ts
Due: none

feat(client): add review title
  apps/client/src/components/account/ReviewCard.tsx
Due: build-client, test-client, deploy-client

fix: fix invoices
  apps/client/src/components/account/OrderCard.tsx
  apps/client/src/providers/DownloadProvider.tsx
  apps/files/src/assets/templates/invoice.hbs
Due: build-client, test-client, deploy-client

fix: fix product rating and review count
  apps/client/src/components/ProductCard.tsx
  apps/client/src/components/cart/CartProductCard.tsx
  apps/client/src/pages/Product.tsx
  apps/client/src/types/product.ts
  apps/product/src/message/message.controller.ts
  apps/product/src/product/entities/product.entity.ts
  apps/review/src/review/review.service.ts
  libs/amqp/src/types/data.ts
  libs/dictionary/src/types/product.ts
  scripts/sql/shifter-shop-cluster.sql
Due: build-client, test-client, deploy-client

Fix de Sidebar menu mobile view
  apps/admin/src/components/Sidebar/Sidebar.tsx
Due: build-admin, test-admin, deploy-admin

Add validation of Forms for a Category
  apps/admin/src/api/category.api.ts
  apps/admin/src/pages/Categories/AddCategory.tsx
Due: build-admin, test-admin, deploy-admin

feat(profile): add business request
  apps/profile/src/address/address.controller.ts
  apps/profile/src/address/address.service.ts
  apps/profile/src/business/business.controller.ts
  apps/profile/src/business/business.service.ts
  apps/profile/src/business/dtos/create-business-profile.dto.ts
  apps/profile/src/business/dtos/create-business-request.dto.ts
  apps/profile/src/business/entities/business-profile.entity.ts
  apps/profile/src/business/entities/business-request.entity.ts
  apps/profile/src/customer/customer.service.ts
  apps/profile/src/customer/entities/customer-profile.entity.ts
  libs/dictionary/src/types/profile.ts
  libs/registry/services/profile.json
Due: none

feat(client): wire first step to become seller
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/dtos/has-account-query.dto.ts
  apps/client/src/pages/business/Register/BecomeSeller.tsx
  apps/client/src/pages/business/Register/Landing.tsx
  apps/client/src/types/query.ts
  libs/registry/services/auth.json
Due: build-client, test-client, deploy-client

feat(client): add update request
  apps/client/src/api/profile.api.ts
  apps/client/src/pages/business/Register/BecomeSeller.tsx
  apps/client/src/pages/business/Register/BusinessRequest.tsx
  apps/client/src/pages/business/Register/Finish.tsx
  apps/client/src/pages/business/Register/Landing.tsx
  apps/client/src/routes/business.tsx
  apps/client/src/types/business-request.ts
  apps/client/src/types/useBusinessRequest.ts
Due: build-client, test-client, deploy-client

fix: fix business register steps
  apps/client/src/components/business/register/Steps.tsx
Due: build-client, test-client, deploy-client

🔧fix(admin): Fix total sold products (month parameter)
  apps/admin/src/api/order.api.ts
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
Due: build-admin, test-admin, deploy-admin

👽feat(admin): Variabilize bar chart
  apps/admin/src/api/order.api.ts
  apps/admin/src/components/Chart/BarChart.tsx
  apps/admin/src/components/Chart/LineChart.tsx
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
Due: build-admin, test-admin, deploy-admin

👽feat(admin): Variabilize Line chart
  apps/admin/src/api/order.api.ts
  apps/admin/src/components/Chart/LineChart.tsx
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
Due: build-admin, test-admin, deploy-admin

🔧fix(admin): Fix fetched route from front
  apps/admin/src/api/order.api.ts
Due: build-admin, test-admin, deploy-admin

🎨chore(admin): Rename variables for better understanding
  apps/admin/src/api/order.api.ts
  apps/admin/src/components/Chart/BarChart.tsx
  apps/admin/src/components/Chart/LineChart.tsx
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
Due: build-admin, test-admin, deploy-admin

🔧fix(admin): Fix total earned amount (month parameter)
  apps/admin/src/api/order.api.ts
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
Due: build-admin, test-admin, deploy-admin

🔧fix(admin): Fix bar chart (filter by date) + Fix filtered status on order's service
  apps/admin/src/api/order.api.ts
  apps/admin/src/components/Chart/BarChart.tsx
  apps/admin/src/components/Chart/LineChart.tsx
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/services/order.service.ts
Due: build-admin, test-admin, deploy-admin

fix: fix client build
  apps/client/src/pages/business/LogIn.tsx
Due: build-client, test-client, deploy-client
