Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

build-admin:
  cache:
    key:
      files:
      - admin/package-lock.json
    paths:
    - admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - admin/node_modules
  stage: build
  image: node:18
  script:
  - cd admin
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-admin:
  stage: test
  image: node:18
  script:
  - cd admin
  - npm run test

deploy-admin:
  stage: deploy
  image: node:18
  script:
  - cd admin
  - echo "Deploying admin"

build-api:
  cache:
    key:
      files:
      - api/package-lock.json
    paths:
    - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - api/node_modules
  stage: build
  image: node:18
  script:
  - cd api
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-api:
  stage: test
  image: node:18
  script:
  - cd api
  - npm run test

deploy-api:
  stage: deploy
  image: node:18
  script:
  - cd api
  - echo "Deploying API"

build-client:
  cache:
    key:
      files:
      - client/package-lock.json
    paths:
    - client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - client/node_modules
  stage: build
  image: node:18
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-client:
  stage: test
  image: node:18
  script:
  - cd client
  - npm run test

deploy-client:
  stage: deploy
  image: node:18
  script:
  - cd client
  - echo "Deploying client"

feat: make account related pages responsive
  client/src/components/DropdownMenu.tsx
  client/src/components/Form.tsx
  client/src/components/account/OrderCard.tsx
  client/src/components/account/OrderProductCard.tsx
  client/src/components/account/ReviewCard.tsx
  client/src/components/account/Sidebar.tsx
  client/src/layouts/CustomerAccountLayout.tsx
  client/src/pages/customer/Account.tsx
  client/src/pages/customer/ChangePassword.tsx
  client/src/pages/customer/Orders.tsx
  client/src/pages/customer/Profile.tsx
  client/src/pages/customer/Reviews.tsx
Due: build-client, test-client, deploy-client

feat: make business pages responsive
  client/src/assets/illustrations/join.svg
  client/src/components/Header.tsx
  client/src/components/Input.tsx
  client/src/components/Logo.tsx
  client/src/components/business/register/Header.tsx
  client/src/components/business/register/Steps.tsx
  client/src/pages/Login.tsx
  client/src/pages/business/LogIn.tsx
  client/src/pages/business/Register/BecomeSeller.tsx
  client/src/pages/business/Register/BusinessInfo.tsx
  client/src/pages/business/Register/Finish.tsx
  client/src/pages/business/Register/Landing.tsx
  client/tsconfig.json
  client/vite.config.ts
  client/vitest.config.ts
Due: build-client, test-client, deploy-client

feat: make business pages responsive
  client/src/components/Header.tsx
Due: build-client, test-client, deploy-client

fix: fix account form responsiveness
  client/src/pages/business/LogIn.tsx
  client/src/pages/customer/ChangePassword.tsx
  client/src/pages/customer/Profile.tsx
Due: build-client, test-client, deploy-client

feat: add illustration when the cart is empty
  client/src/assets/illustrations/empty-cart.svg
  client/src/pages/Cart.tsx
Due: build-client, test-client, deploy-client

feat(client): add customer addresses
  client/data/addresses.json
  client/src/api/address.api.ts
  client/src/api/order.api.ts
  client/src/assets/icons/home.svg
  client/src/components/account/Address.tsx
  client/src/components/account/Sidebar.tsx
  client/src/pages/Cart.tsx
  client/src/pages/Order.tsx
  client/src/pages/customer/Account.tsx
  client/src/pages/customer/Addresses.tsx
  client/src/pages/customer/NewAddress.tsx
  client/src/pages/customer/Profile.tsx
  client/src/routes/customer.tsx
  client/src/routes/index.tsx
  client/src/types/address.ts
Due: build-client, test-client, deploy-client

feat(client): add full name and phone on addresses
  client/data/addresses.json
  client/src/components/Form.tsx
  client/src/components/Input.tsx
  client/src/components/account/Address.tsx
  client/src/components/forms/AddressForm.tsx
  client/src/pages/Order.tsx
  client/src/pages/customer/NewAddress.tsx
  client/src/types/address.ts
  client/src/utils/isEmpty.ts
Due: build-client, test-client, deploy-client

fix: fix forms layout
  client/src/components/Button.tsx
  client/src/components/Form.tsx
  client/src/components/forms/AddressForm.tsx
  client/src/pages/Order.tsx
  client/src/pages/business/LogIn.tsx
  client/src/pages/business/Register/Landing.tsx
  client/src/pages/business/Register/index.tsx
  client/src/pages/customer/ChangePassword.tsx
  client/src/pages/customer/NewAddress.tsx
  client/src/pages/customer/Profile.tsx
Due: build-client, test-client, deploy-client

fix: fix account links responsiveness
  client/src/pages/customer/Account.tsx
Due: build-client, test-client, deploy-client

fix: fix business header logo position on mobile
  client/src/components/business/register/Header.tsx
Due: build-client, test-client, deploy-client

🔒 feat(security): Add routes protection
  api/src/auth/auth.controller.ts
  api/src/auth/decorators/is-authenticated.decorator.ts
  api/src/auth/guards/allow.public.guard.ts
  api/src/auth/guards/jwt.guard.ts
  api/src/category/category.controller.ts
  api/src/product/product.controller.ts
  api/src/review/review.controller.ts
  api/src/user/user.module.ts
Due: build-api, test-api, deploy-api

🔒 feat(security): Add roles protection
  api/src/auth/guards/roles.guard.ts
  api/src/category/category.controller.ts
  api/src/decorators/roles.decorator.ts
  api/src/order/order.controller.ts
  api/src/product/product.controller.ts
  api/src/review/review.controller.ts
  api/src/user/user.controller.ts
  api/src/user/user.module.ts
Due: build-api, test-api, deploy-api

🩹 fix(seed-login): Fix seeds for login operation
  api/prisma/seed.ts
Due: build-api, test-api, deploy-api

✨ feat(profile): Add profile root for current user
  api/src/auth/auth.controller.ts
  api/src/auth/auth.service.ts
  api/src/user/user.service.ts
Due: build-api, test-api, deploy-api

✨ feat(admin): Add Table component with pagination
  admin/src/components/Table/DeleteIcon.tsx
  admin/src/components/Table/Pagination.tsx
  admin/src/components/Table/Table.tsx
  admin/src/components/Table/TableHeader.tsx
  admin/src/components/Table/TableRow.tsx
  admin/src/components/Table/UpdateIcon.tsx
  admin/src/components/Table/index.tsx
  admin/src/pages/Customers.tsx
  admin/src/routes/index.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin-table): Add number of rows selector
  admin/src/components/Table/Pagination.tsx
  admin/src/components/Table/Table.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin-table): Add index indicator on bottom of table
  admin/src/components/Table/Pagination.tsx
  admin/src/components/Table/Table.tsx
Due: build-admin, test-admin, deploy-admin

🚚 feat(admin-table): Rename Pagination component to TableBottom
  admin/src/components/Table/Table.tsx
  admin/src/components/Table/TableBottom.tsx
Due: build-admin, test-admin, deploy-admin

refactor(client): update how adresses are loaded
  client/src/api/address.api.ts
  client/src/pages/Order.tsx
  client/src/pages/customer/Addresses.tsx
  client/src/routes/customer.tsx
  client/src/routes/index.tsx
Due: build-client, test-client, deploy-client

feat(client): authenticate requests
  client/src/api/index.ts
  client/src/utils/isLocalStorageAvailable.ts
Due: build-client, test-client, deploy-client

feat: update review api
  client/src/api/review.api.ts
  client/src/pages/account/Reviews.tsx
  client/src/routes/account.tsx
  client/src/routes/public.tsx
Due: build-client, test-client, deploy-client

refactor: move products routes
  client/.gitignore
  client/src/api/product.api.ts
  client/src/pages/Products.tsx
  client/src/routes/index.tsx
  client/src/routes/products.tsx
  client/src/types/params.ts
Due: build-client, test-client, deploy-client

refactor:(client): move account routes and pages
  client/src/pages/account/Account.tsx
  client/src/pages/account/Addresses.tsx
  client/src/pages/account/ChangePassword.tsx
  client/src/pages/account/NewAddress.tsx
  client/src/pages/account/Orders.tsx
  client/src/pages/account/Profile.tsx
  client/src/pages/account/ReviewForm.tsx
  client/src/pages/account/Reviews.tsx
  client/src/routes/account.tsx
  client/src/routes/index.tsx
Due: build-client, test-client, deploy-client

feat(client): update products api
  client/package-lock.json
  client/package.json
  client/src/api/index.ts
  client/src/api/product.api.ts
  client/src/hooks/useData.tsx
  client/src/pages/Products.tsx
  client/src/routes/products.tsx
  client/src/types/params.ts
Due: build-client, test-client, deploy-client

feat(client): update addresses api
  client/src/api/address.api.ts
  client/src/routes/customer.tsx
  client/src/routes/index.tsx
  client/src/types/user.ts
Due: build-client, test-client, deploy-client

refactor: simplify routes
  client/src/layouts/CustomerAccountLayout.tsx
  client/src/layouts/CustomerLayout.tsx
  client/src/pages/Product.tsx
  client/src/pages/Products.tsx
  client/src/routes/account.tsx
  client/src/routes/business.tsx
  client/src/routes/index.tsx
  client/src/routes/products.tsx
  client/src/routes/public.tsx
  client/src/types/loader.ts
Due: build-client, test-client, deploy-client

feat: add cart synchronization
  client/.eslintrc.cjs
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/cart.api.ts
  client/src/api/product.api.ts
  client/src/components/Header.tsx
  client/src/components/ProductCard.tsx
  client/src/components/account/OrderProductCard.tsx
  client/src/components/cart/CartProductCard.tsx
  client/src/core/cart.local.ts
  client/src/hooks/context.ts
  client/src/hooks/useCart.ts
  client/src/hooks/useCartSynchronization.ts
  client/src/pages/Cart.tsx
  client/src/pages/Product.tsx
  client/src/pages/Products.tsx
  client/src/providers/AuthProvider.tsx
  client/src/providers/CartProvider.tsx
  client/src/providers/index.tsx
  client/src/types/cart.ts
  client/src/types/cartProduct.ts
  client/src/types/category.ts
  client/src/types/order.ts
  client/src/types/orderProduct.ts
  client/src/types/product.ts
  client/src/types/query.ts
  client/src/types/review.ts
  client/src/types/storage.ts
  client/src/utils/storage.ts
  client/tsconfig.json
Due: build-client, test-client, deploy-client

feat(client): update order data fecthing
  client/src/api/order.api.ts
  client/src/api/product.api.ts
  client/src/api/user.api.ts
  client/src/components/RatingPicker.tsx
  client/src/components/account/OrderProductCard.tsx
  client/src/components/account/ReviewCard.tsx
  client/src/components/business/register/Steps.tsx
  client/src/components/cart/CartSummaryItem.tsx
  client/src/hooks/context.ts
  client/src/hooks/useCart.ts
  client/src/hooks/useCategories.ts
  client/src/hooks/useOrder.ts
  client/src/hooks/useOrders.ts
  client/src/hooks/useProduct.ts
  client/src/hooks/useProducts.ts
  client/src/pages/Cart.tsx
  client/src/pages/Checkout.tsx
  client/src/pages/Login.tsx
  client/src/pages/Products.tsx
  client/src/pages/account/Addresses.tsx
  client/src/pages/account/ChangePassword.tsx
  client/src/pages/account/NewReview.tsx
  client/src/pages/account/Orders.tsx
  client/src/pages/business/LogIn.tsx
  client/src/providers/DownloadProvider.tsx
  client/src/routes/account.tsx
  client/src/routes/public.tsx
  client/src/types/address.ts
  client/src/types/order.ts
  client/src/types/orderProduct.ts
  client/src/types/query.ts
  client/src/types/review.ts
  client/src/types/token.tsx
  client/src/types/user.ts
Due: build-client, test-client, deploy-client

feat(client): add create address api function
  client/src/api/address.api.ts
  client/src/pages/account/NewAddress.tsx
  client/src/types/address.ts
Due: build-client, test-client, deploy-client

feat: add missing addresses api functions and toasts
  client/src/api/address.api.ts
  client/src/components/account/Address.tsx
  client/src/pages/account/NewAddress.tsx
  client/src/pages/account/NewReview.tsx
Due: build-client, test-client, deploy-client

feat: add create review api
  client/src/api/review.api.ts
  client/src/components/Input.tsx
  client/src/components/RatingPicker.tsx
  client/src/components/forms/AddressForm.tsx
  client/src/pages/Order.tsx
  client/src/pages/account/ChangePassword.tsx
  client/src/pages/account/NewAddress.tsx
  client/src/pages/account/NewReview.tsx
  client/src/pages/account/Profile.tsx
  client/src/pages/account/ReviewForm.tsx
  client/src/pages/business/LogIn.tsx
  client/src/pages/business/Register/BusinessInfo.tsx
  client/src/pages/business/Register/Landing.tsx
  client/src/pages/business/Register/index.tsx
  client/src/routes/account.tsx
  client/src/types/review.ts
Due: build-client, test-client, deploy-client

refactor: update useData extension
  client/src/hooks/useData.ts
Due: build-client, test-client, deploy-client

feat(client): add cart api
  client/src/api/cart.api.ts
  client/src/types/cart.ts
Due: build-client, test-client, deploy-client

chore: disable admin and client CI
  .gitlab-ci.yml
Due: none

feat: implement product service
  apps/product/.dockerignore
  apps/product/.env.example
  apps/product/.eslintrc.js
  apps/product/.prettierrc
  apps/product/Dockerfile
  apps/product/nest-cli.json
  apps/product/package.json
  apps/product/src/app.module.ts
  apps/product/src/config/database.config.ts
  apps/product/src/main.ts
  apps/product/src/product/dtos/create-product.dto.ts
  apps/product/src/product/dtos/update-product.dto.ts
  apps/product/src/product/entities/product.entity.ts
  apps/product/src/product/product.controller.ts
  apps/product/src/product/product.module.ts
  apps/product/src/product/product.service.ts
  apps/product/test/app.e2e-spec.ts
  apps/product/test/jest-e2e.json
  apps/product/tsconfig.build.json
  apps/product/tsconfig.json
  apps/user/src/user/dtos/update-user.dto.ts
  docker-compose.ms-prod.yml
  libs/registry/services/product.json
  package-lock.json
  tsconfig.base.json
Due: none

feat: implement order service
  docker-compose.ms-prod.yml
  order/.dockerignore
  order/.env.example
  order/Dockerfile
  order/package-lock.json
  order/package.json
  order/src/config/index.ts
  order/src/controllers/order.controller.ts
  order/src/database/index.ts
  order/src/entities/order.entity.ts
  order/src/index.ts
  order/src/routes/order.ts
  order/src/services/order.service.ts
  order/src/types/order.ts
  order/src/types/product.ts
  order/tsconfig.json
Due: none

feat: create service map library
  libs/svc-map/package.json
  libs/svc-map/services/analytics.json
  libs/svc-map/services/files.json
  libs/svc-map/services/invoice.json
  libs/svc-map/services/mailer.json
  libs/svc-map/services/order.json
  libs/svc-map/services/payment.json
  libs/svc-map/src/index.ts
  libs/svc-map/src/lib/service.ts
  libs/svc-map/src/types/service.ts
  libs/svc-map/src/utils/parser.ts
  libs/svc-map/tsconfig.json
  package-lock.json
Due: none

chore: review services dockerization
  apps/analytics/Dockerfile
  apps/analytics/package.json
  apps/files/Dockerfile
  apps/files/package.json
  apps/invoice/Dockerfile
  apps/invoice/package.json
  apps/mailer/Dockerfile
  apps/mailer/package.json
  apps/order/Dockerfile
  apps/order/package.json
  apps/payment/Dockerfile
  apps/payment/package.json
  docker-compose.ms-prod.yml
  libs/amqp/.env.example
  libs/amqp/tsconfig.json
  nx.json
  package-lock.json
  tsconfig.base.json
Due: none

fix: docker build
  apps/auth/.dockerignore
  apps/auth/Dockerfile
  apps/cart/Dockerfile
  apps/gateway/Dockerfile
  apps/invoice/Dockerfile
  apps/mailer/Dockerfile
  apps/mailer/package.json
  apps/order/Dockerfile
  apps/payment/Dockerfile
  apps/user/.dockerignore
  libs/registry/package.json
  package-lock.json
Due: none

chore: colorize api gateway logs
  apps/gateway/src/index.ts
  apps/gateway/src/utils/proxy.ts
Due: none

Path conditions:
  build-admin: any of: admin/**/*
  test-admin: any of: admin/**/*
  deploy-admin: any of: admin/**/*
  build-api: any of: api/**/*
  test-api: any of: api/**/*
  deploy-api: any of: api/**/*
  build-client: any of: client/**/*
  test-client: any of: client/**/*
  deploy-client: any of: client/**/*
