Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

.gitlab/admin.gitlab-ci.yml:

.cache-admin:
  cache:
    key:
      files:
        - apps/admin/package-lock.json
    paths:
      - apps/admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - apps/admin/node_modules

build-admin:
  stage: build
  image: node:18
  script:
    - cd apps/admin
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-admin
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/admin/**/*

test-admin:
  stage: test
  image: node:18
  script:
    - cd admin
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/admin/**/*

deploy-admin:
  stage: deploy
  image: node:18
  script:
    - cd admin
    - echo "Deploying admin"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/admin/**/*

.gitlab/api.gitlab-ci.yml:

.cache-api:
  cache:
    key:
      files:
        - api/package-lock.json
    paths:
      - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - api/node_modules

build-api:
  stage: build
  image: node:18
  script:
    - cd api
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-api
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

test-api:
  stage: test
  image: node:18
  script:
    - cd api
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

deploy-api:
  stage: deploy
  image: node:18
  script:
    - cd api
    - echo "Deploying API"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - api/**/*

.gitlab/client.gitlab-ci.yml:

.cache-client:
  cache:
    key:
      files:
        - apps/client/package-lock.json
    paths:
      - apps/client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - apps/client/node_modules

build-client:
  stage: build
  image: node:18
  script:
    - cd apps/client
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-client
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/client/**/*

test-client:
  stage: test
  image: node:18
  script:
    - cd apps/client
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - apps/client/**/*

deploy-client:
  stage: deploy
  image: node:18
  script:
    - cd client
    - echo "Deploying client"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/client/**/*

Add modification to components
  apps/admin/src/api/product.api.ts
  apps/admin/src/components/Forms/CustomFormDropdown.tsx
  apps/admin/src/components/Forms/CustomFormInput.tsx
  apps/admin/src/pages/Categories/AddCategory.tsx
  apps/admin/src/pages/Products/AddProduct.tsx
Due: build-admin, test-admin, deploy-admin

fix: fix dictionary types
  libs/dictionary/src/index.ts
  libs/dictionary/src/types/business.ts
  libs/dictionary/src/types/profile.ts
Due: none

💄feat(admin): Fix darkmode
  apps/admin/src/layouts/DefaultLayout.tsx
Due: build-admin, test-admin, deploy-admin

🔧fix(admin): Fix modal closing and buttons logic
  apps/admin/src/components/Modal/Modal.tsx
  apps/admin/src/components/Modal/ModalButton.tsx
  apps/admin/src/components/Modal/ModalFooter.tsx
  apps/admin/src/pages/Orders.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/pages/Reviews.tsx
Due: build-admin, test-admin, deploy-admin

chore(k8s): update k8s manifests
  Makefile
  kubernetes/admin.yml
  kubernetes/api.yml
  kubernetes/client.yml
  kubernetes/secrets/secret-storage.yml
  kubernetes/web/admin.yml
  libs/logger/src/lib/logger.ts
Due: none

chore(terraform): gke node autoscaling and set new secrets
  kubernetes/secrets/secret-manager.yml
  kubernetes/secrets/service-account.yml
  terraform/.terraform.lock.hcl
  terraform/iam.tf
  terraform/main.tf
  terraform/provider.tf
  terraform/secrets.tf
  terraform/variables.tf
  terraform/versions.tf
Due: none

🔧fix(admin): Data fetch on review's list
  apps/admin/src/components/Modal/ModalReview.tsx
  apps/admin/src/pages/Reviews.tsx
Due: build-admin, test-admin, deploy-admin

fix(admin): missing api url env
  apps/admin/Dockerfile
  apps/admin/src/api/index.ts
  docker-compose.demo.yml
Due: build-admin, test-admin, deploy-admin

chore(ci): update ci with nx
  .gitlab-ci.yml
Due: none

chore: test ci with lib update
  libs/logger/src/lib/logger.ts
Due: none

chore: revert previous changes
  libs/logger/src/lib/logger.ts
Due: none

✨feat(admin): Add set status for orders
  apps/admin/src/api/order.api.ts
  apps/admin/src/pages/Orders.tsx
Due: build-admin, test-admin, deploy-admin

🔧fix(admin): Fix admin:build
  apps/admin/src/pages/Admins.tsx
  apps/admin/src/pages/Customers.tsx
  apps/admin/src/pages/Sellers.tsx
Due: build-admin, test-admin, deploy-admin

ui(admin): 💄 Stylize modals
  apps/admin/src/components/Modal/Modal.tsx
  apps/admin/src/components/Modal/ModalOrder.tsx
  apps/admin/src/components/Modal/ModalProduct.tsx
  apps/admin/src/components/Modal/ModalReview.tsx
Due: build-admin, test-admin, deploy-admin

💬chore(admin): Change link to principle button on sidebar
  apps/admin/src/components/Sidebar/Sidebar.tsx
Due: build-admin, test-admin, deploy-admin

✨feat(admin): Add setStatus feature on reviews and products
  apps/admin/src/api/product.api.ts
  apps/admin/src/api/review.api.ts
  apps/admin/src/pages/Admins.tsx
  apps/admin/src/pages/Customers.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/pages/Reviews.tsx
  apps/admin/src/pages/Sellers.tsx
  apps/review/src/review/dtos/update-review.dto.ts
  apps/review/src/review/review.controller.ts
  apps/review/src/review/review.service.ts
  libs/registry/services/review.json
Due: build-admin, test-admin, deploy-admin

Add verification to field Forms
  apps/admin/src/api/category.api.ts
  apps/admin/src/components/Forms/CustomFormDropdown.tsx
  apps/admin/src/pages/Categories/AddCategory.tsx
  apps/admin/src/pages/Products/AddProduct.tsx
Due: build-admin, test-admin, deploy-admin

feat(client): add business dashboard products
  apps/client/src/api/product.api.ts
  apps/client/src/hooks/useProduct.ts
  apps/client/src/layouts/business/DashboardLayout.tsx
  apps/client/src/pages/account/NewReview.tsx
  apps/client/src/pages/business/Dashboard/Products.tsx
  apps/client/src/routes/business.tsx
  apps/client/src/types/params.ts
  apps/client/src/types/product.ts
  apps/client/tailwind.config.cjs
  apps/product/src/product/product.controller.ts
  apps/product/src/product/product.service.ts
Due: build-client, test-client, deploy-client

feat(client): add products filtering and sorting
  apps/client/src/api/product.api.ts
  apps/client/src/pages/Home.tsx
  apps/client/src/pages/Products.tsx
  apps/client/src/pages/business/Dashboard/Products.tsx
  apps/client/src/types/params.ts
  apps/product/src/product/dtos/find-all-query.dto.ts
  apps/product/src/product/entities/product.entity.ts
  apps/product/src/product/product.service.ts
Due: build-client, test-client, deploy-client

feat(client): update not found page
  apps/client/src/assets/illustrations/void.svg
  apps/client/src/components/Seller.tsx
  apps/client/src/pages/errors/NotFound.tsx
  apps/client/src/routes/index.tsx
Due: build-client, test-client, deploy-client

feat(client): redirect seller to dashboard
  apps/client/src/hooks/useLogin.ts
Due: build-client, test-client, deploy-client

feat: add filtering and sorting on products
  apps/client/src/api/product.api.ts
  apps/product/package.json
  apps/product/src/main.ts
  apps/product/src/product/dtos/find-all-query.dto.ts
  apps/product/src/product/product.controller.ts
  apps/product/src/product/product.service.ts
  package-lock.json
Due: build-client, test-client, deploy-client

fix(client): fix quantity to add to cart
  apps/client/src/pages/Product.tsx
Due: build-client, test-client, deploy-client

fix: fix typo
  apps/client/src/layouts/business/BusinessLayout.tsx
  apps/client/src/routes/business.tsx
Due: build-client, test-client, deploy-client

feat-client): add seller base pages
  apps/client/src/pages/business/Dashboard/Orders.tsx
  apps/client/src/pages/business/Dashboard/Products.tsx
  apps/client/src/pages/business/Dashboard/Profile.tsx
  apps/client/src/pages/business/Dashboard/Reviews.tsx
  apps/client/src/pages/business/Profile.tsx
  apps/client/src/routes/business.tsx
Due: build-client, test-client, deploy-client

feat(client): display seller products
  apps/client/src/api/product.api.ts
  apps/client/src/hooks/useProducts.ts
  apps/client/src/pages/business/Dashboard/Products.tsx
Due: build-client, test-client, deploy-client

feat(client): add dashboard layout with sidebar
  apps/client/src/components/Copyright.tsx
  apps/client/src/components/business/Sidebar.tsx
  apps/client/src/layouts/business/BusinessLayout.tsx
  apps/client/src/layouts/business/DashboardLayout.tsx
  apps/client/src/routes/business.tsx
Due: build-client, test-client, deploy-client

feat(client): update seller products dashboard
  apps/client/src/api/product.api.ts
  apps/client/src/components/ProductCard.tsx
  apps/client/src/components/account/OrderProductCard.tsx
  apps/client/src/hooks/useProduct.ts
  apps/client/src/pages/Product.tsx
  apps/client/src/pages/account/NewReview.tsx
  apps/client/src/pages/business/Dashboard/EditProduct.tsx
  apps/client/src/pages/business/Dashboard/Products.tsx
  apps/client/src/routes/business.tsx
  apps/client/src/types/product.ts
Due: build-client, test-client, deploy-client

fix: fix business layout
  apps/client/src/layouts/business/BusinessLayour.tsx
  apps/client/src/layouts/business/RegisterLayout.tsx
  apps/client/src/pages/business/Profile.tsx
  apps/client/src/pages/business/Register/BecomeSeller.tsx
  apps/client/src/routes/business.tsx
Due: build-client, test-client, deploy-client

feat(client): protect seller dashboard
  apps/client/src/components/Seller.tsx
  apps/client/src/routes/business.tsx
  apps/client/src/types/user.ts
Due: build-client, test-client, deploy-client

👽 feat(admin): Update entities and dtos for category and user
  apps/admin/src/api/category.api.ts
  apps/admin/src/api/user.api.ts
  apps/category/src/category/dtos/update-category.dto.ts
  apps/category/src/category/entities/category.entity.ts
  apps/user/src/user/dtos/update-user.dto.ts
  apps/user/src/user/user.controller.ts
  libs/dictionary/src/types/category.ts
  libs/dictionary/src/types/status.ts
Due: build-admin, test-admin, deploy-admin

chore: add dynamic affected deploy
  .gitlab-ci.yml
  scripts/gitlab/generate-deploy.js
Due: none

fix: ci stages
  .gitlab-ci.yml
Due: none

chore: update deploy test stage
  .gitlab-ci.yml
Due: none

fix: deploy script
  scripts/gitlab/generate-deploy.js
Due: none

chore(ci): add test stage
  .gitlab-ci.yml
  .gitlab/admin.gitlab-ci.yml
  .gitlab/client.gitlab-ci.yml
  apps/analytics/package.json
  apps/auth/package.json
  apps/cart/package.json
  apps/category/package.json
  apps/files/package.json
  apps/gateway/package.json
  apps/inventory/package.json
  apps/invoice/package.json
  apps/mailer/package.json
  apps/order/package.json
  apps/payment/package.json
  apps/product/package.json
  apps/profile/package.json
  apps/profile/src/address/address.controller.spec.ts
  apps/profile/src/address/address.service.spec.ts
  apps/review/package.json
  apps/search/package.json
  apps/user/package.json
  libs/amqp/package.json
  libs/dictionary/package.json
  libs/encryption/package.json
  libs/errors/package.json
  libs/helpers/package.json
  libs/logger/package.json
  libs/nest/package.json
  libs/registry/package.json
Due: none
