Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

build-admin:
  cache:
    key:
      files:
      - apps/admin/package-lock.json
    paths:
    - apps/admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - apps/admin/node_modules
  stage: build
  image: node:18
  script:
  - cd apps/admin
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-admin:
  stage: test
  image: node:18
  script:
  - cd admin
  - npm run test

deploy-admin:
  stage: deploy
  image: node:18
  script:
  - cd admin
  - echo "Deploying admin"

build-api:
  cache:
    key:
      files:
      - api/package-lock.json
    paths:
    - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - api/node_modules
  stage: build
  image: node:18
  script:
  - cd api
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-api:
  stage: test
  image: node:18
  script:
  - cd api
  - npm run test

deploy-api:
  stage: deploy
  image: node:18
  script:
  - cd api
  - echo "Deploying API"

build-client:
  cache:
    key:
      files:
      - apps/client/package-lock.json
    paths:
    - apps/client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
    - apps/client/node_modules
  stage: build
  image: node:18
  script:
  - cd apps/client
  - npm ci --cache .npm --prefer-offline
  - npm run build

test-client:
  stage: test
  image: node:18
  script:
  - cd apps/client
  - npm run test

deploy-client:
  stage: deploy
  image: node:18
  script:
  - cd client
  - echo "Deploying client"

🩹 feat(admin): Fix date format
  apps/admin/src/components/Modal/ModalOrder.tsx
  apps/admin/src/components/Modal/ModalReview.tsx
  apps/admin/src/components/Table/TableRow.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin): Add dashboard page
  apps/admin/package.json
  apps/admin/src/assets/icons/cart-dashboard.svg
  apps/admin/src/assets/icons/cash-dashboard.svg
  apps/admin/src/assets/icons/clients-dashboard.svg
  apps/admin/src/assets/icons/product-dashboard.svg
  apps/admin/src/components/Card/Card.tsx
  apps/admin/src/components/Card/CardIcons.tsx
  apps/admin/src/components/Card/index.tsx
  apps/admin/src/components/Chart/BarChart.tsx
  apps/admin/src/components/Chart/ChartCard.tsx
  apps/admin/src/components/Chart/LineChart.tsx
  apps/admin/src/pages/Home.tsx
  package-lock.json
Due: build-admin, test-admin, deploy-admin

🩹 feat(admin): Manage empty lists and remove useless routes
  apps/admin/src/components/Sidebar/Sidebar.tsx
  apps/admin/src/pages/Orders.tsx
  apps/admin/src/pages/Products.tsx
  apps/admin/src/pages/Reviews.tsx
  apps/admin/src/routes/admin.tsx
Due: build-admin, test-admin, deploy-admin

✨ feat(admin): Add page for Admins, Customers and Sellers
  apps/admin/src/api/user.api.ts
  apps/admin/src/pages/Admins.tsx
  apps/admin/src/pages/Customers.tsx
  apps/admin/src/pages/Sellers.tsx
  apps/admin/src/types/user.ts
  apps/client/src/types/user.ts
Due: build-admin, test-admin, deploy-admin, build-client, test-client, deploy-client

Add Forms components and different forms to add products and categories
  apps/admin/src/components/Forms/CustomFormButton.tsx
  apps/admin/src/components/Forms/CustomFormDropdown.tsx
  apps/admin/src/components/Forms/CustomFormImage.tsx
  apps/admin/src/components/Forms/CustomFormInput.tsx
  apps/admin/src/components/Forms/CustomFormRadioButton.tsx
  apps/admin/src/components/Forms/CustomFormTitle.tsx
  apps/admin/src/components/Forms/Forms.tsx
  apps/admin/src/components/Sidebar/Sidebar.tsx
  apps/admin/src/pages/Categories/AddCategory.tsx
  apps/admin/src/pages/Home.tsx
  apps/admin/src/pages/Products/AddProduct.tsx
  apps/admin/src/routes/index.tsx
  apps/client/src/components/forms/NewForm.tsx
  apps/client/src/components/home/Ad.tsx
Due: build-admin, test-admin, deploy-admin, build-client, test-client, deploy-client

✨ feat(admin): Add filter by role on findAll for user service
  apps/user/src/user/user.controller.ts
  apps/user/src/user/user.service.ts
Due: none

feat(client): wire orders
  apps/client/src/components/account/OrderCard.tsx
  apps/client/src/components/account/OrderProductCard.tsx
  apps/client/src/hooks/useLogin.ts
  apps/client/src/hooks/useRegister.ts
  apps/client/src/providers/AuthProvider.tsx
  apps/client/src/providers/CustomerProvider.tsx
  apps/client/src/types/cartProduct.ts
  apps/client/src/types/order.ts
  apps/client/src/types/orderProduct.ts
Due: build-client, test-client, deploy-client

feat(client): add checkout endpoint
  apps/client/src/api/payment.api.ts
Due: build-client, test-client, deploy-client

feat(client): wire cart
  apps/cart/src/controllers/cart.controller.ts
  apps/client/src/api/cart.api.ts
  apps/client/src/api/user.api.ts
  apps/client/src/components/ProductCard.tsx
  apps/client/src/components/account/OrderProductCard.tsx
  apps/client/src/components/cart/CartProductCard.tsx
  apps/client/src/components/cart/CartSummaryItem.tsx
  apps/client/src/components/home/CategoryCard.tsx
  apps/client/src/core/cart.local.ts
  apps/client/src/hooks/useCart.ts
  apps/client/src/hooks/useCartSynchronization.ts
  apps/client/src/pages/Cart.tsx
  apps/client/src/pages/account/NewReview.tsx
  apps/client/src/types/cart.ts
  apps/client/src/types/cartProduct.ts
  apps/client/src/types/product.ts
Due: build-client, test-client, deploy-client

feat(profile): add addresses
  apps/profile/src/customer/entities/customer-address.entity.ts
  apps/profile/src/customer/entities/customer-profile.entity.ts
  libs/dictionary/src/types/profile.ts
Due: none

fix(client): fix product type
  apps/client/src/api/user.api.ts
  apps/client/src/pages/Product.tsx
  apps/client/src/pages/account/NewReview.tsx
Due: build-client, test-client, deploy-client

feat(client): wire reviews
  apps/client/src/api/review.api.ts
  apps/client/src/hooks/useOrder.ts
  apps/client/src/hooks/useReview.ts
  apps/client/src/hooks/useReviews.ts
  apps/client/src/pages/account/NewReview.tsx
  apps/client/src/pages/account/Reviews.tsx
  apps/client/src/routes/account.tsx
  apps/client/src/types/profile.ts
  apps/client/src/types/query.ts
  apps/client/src/types/review.ts
Due: build-client, test-client, deploy-client

feat(client): wire routes
  apps/auth/src/auth/auth.controller.ts
  apps/client/data/categories.json
  apps/client/data/products.json
  apps/client/data/users.json
  apps/client/src/api/auth.api.ts
  apps/client/src/api/category.api.ts
  apps/client/src/api/index.ts
  apps/client/src/components/home/Categories.tsx
  apps/client/src/hooks/useLogin.ts
  apps/client/src/hooks/useProfile.ts
  apps/client/src/hooks/useRegister.ts
  apps/client/src/hooks/useStoredState.ts
  apps/client/src/pages/Home.tsx
  apps/client/src/pages/Login.tsx
  apps/client/src/pages/Products.tsx
  apps/client/src/pages/Register.tsx
  apps/client/src/pages/business/LogIn.tsx
  apps/client/src/providers/AuthProvider.tsx
  apps/client/src/types/auth.ts
  apps/client/src/types/category.ts
  apps/client/src/types/query.ts
  apps/client/src/types/token.tsx
  apps/client/src/types/user.ts
  apps/client/src/vite-env.d.ts
  docker-compose.yml
Due: build-client, test-client, deploy-client

chore(client): remove fake data
  apps/client/data/addresses.json
  apps/client/data/orders.json
  apps/client/data/reviews.json
  apps/profile/src/address/address.controller.ts
  libs/registry/services/profile.json
Due: build-client, test-client, deploy-client

feat(client): wire addresses
  apps/client/src/api/profile.api.ts
  apps/client/src/components/forms/AddressForm.tsx
  apps/client/src/hooks/useAddresses.ts
  apps/client/src/pages/Checkout.tsx
  apps/client/src/routes/public.tsx
  apps/client/src/types/address.ts
  apps/client/src/types/profile.ts
  apps/client/src/types/query.ts
  apps/profile/src/address/address.controller.ts
  apps/profile/src/address/address.service.ts
  apps/profile/src/address/entities/address.entity.ts
  libs/dictionary/src/types/profile.ts
  libs/registry/services/profile.json
Due: build-client, test-client, deploy-client

feat(client): wire checkout
  apps/client/src/api/payment.api.ts
  apps/client/src/hooks/useCheckout.ts
  apps/client/src/pages/Checkout.tsx
Due: build-client, test-client, deploy-client

feat(profile): add addresses
  apps/profile/package.json
  apps/profile/src/address/address.controller.spec.ts
  apps/profile/src/address/address.controller.ts
  apps/profile/src/address/address.module.ts
  apps/profile/src/address/address.service.spec.ts
  apps/profile/src/address/address.service.ts
  apps/profile/src/address/dto/create-address.dto.ts
  apps/profile/src/address/dto/update-address.dto.ts
  apps/profile/src/address/entities/address.entity.ts
  apps/profile/src/app.module.ts
  apps/profile/src/customer/customer.controller.ts
  apps/profile/src/customer/customer.module.ts
  apps/profile/src/customer/customer.service.ts
  apps/profile/src/customer/dtos/update-profile.dto.ts
  apps/profile/src/customer/entities/customer-profile.entity.ts
  apps/profile/src/lib/amqp.ts
  apps/profile/src/main.ts
  apps/user/src/user/user.service.ts
  libs/dictionary/src/types/profile.ts
  libs/registry/services/profile.json
  package-lock.json
Due: none

fix(user): customer can't update their role
  apps/user/src/main.ts
  apps/user/src/user/dtos/update-authenticated-user.dto.ts
  apps/user/src/user/dtos/update-user.dto.ts
  apps/user/src/user/user.controller.ts
  apps/user/src/user/user.service.ts
Due: none

fix(user): fix validation
  apps/user/src/main.ts
  apps/user/src/user/dtos/search-criteria.dto.ts
  apps/user/src/user/pipes/empty-body.ts
  apps/user/src/user/user.controller.ts
  apps/user/src/user/user.service.ts
Due: none

feat(client): wire addresses
  apps/client/src/api/address.api.ts
  apps/client/src/api/profile.api.ts
  apps/client/src/api/user.api.ts
  apps/client/src/components/account/Address.tsx
  apps/client/src/components/forms/AddressForm.tsx
  apps/client/src/hooks/useAddress.ts
  apps/client/src/hooks/useAddresses.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/pages/Checkout.tsx
  apps/client/src/pages/account/Addresses.tsx
  apps/client/src/pages/account/EditAddress.tsx
  apps/client/src/pages/account/NewAddress.tsx
  apps/client/src/pages/account/Profile.tsx
  apps/client/src/providers/AuthProvider.tsx
  apps/client/src/routes/account.tsx
  apps/client/src/types/address.ts
  apps/client/src/types/user.ts
  apps/profile/src/address/address.controller.ts
  apps/profile/src/address/address.service.ts
  apps/profile/src/address/dto/create-address.dto.ts
  apps/user/src/user/user.service.ts
  libs/registry/services/profile.json
Due: build-client, test-client, deploy-client

fix(client): fix local cart
  apps/client/src/api/cart.api.ts
  apps/client/src/components/ProductCard.tsx
  apps/client/src/components/account/OrderProductCard.tsx
  apps/client/src/components/cart/CartProductCard.tsx
  apps/client/src/core/cart.local.ts
  apps/client/src/hooks/useCart.ts
  apps/client/src/hooks/useCartSynchronization.ts
  apps/client/src/pages/Cart.tsx
  apps/client/src/pages/Product.tsx
  apps/client/src/types/cart.ts
  apps/client/src/types/cartProduct.ts
Due: build-client, test-client, deploy-client

👽 feat(admin): Dynamize data (total number of customers)
  apps/admin/src/api/user.api.ts
  apps/admin/src/pages/Home.tsx
  apps/user/src/user/user.controller.ts
  apps/user/src/user/user.service.ts
  libs/registry/services/user.json
Due: build-admin, test-admin, deploy-admin

feat: remove passwords from responses
  apps/auth/package.json
  apps/auth/src/auth/auth.controller.ts
  apps/user/package.json
  apps/user/src/user/user.controller.ts
  libs/nest/package.json
  libs/nest/src/decorators/index.ts
  libs/nest/src/decorators/remove-password.decorator.ts
  libs/nest/src/index.ts
  libs/nest/src/interceptors/index.ts
  libs/nest/src/interceptors/remove-password.interceptor.ts
  libs/nest/tsconfig.json
  package-lock.json
Due: none

👽🚧 feat(admin): Dynamize data in the dashboard
  apps/admin/src/api/order.api.ts
  apps/admin/src/pages/Home.tsx
  apps/order/src/controllers/order.controller.ts
  apps/order/src/routes/order.ts
  apps/order/src/services/order.service.ts
  libs/registry/services/order.json
Due: build-admin, test-admin, deploy-admin

feat: add global not empty body pipe
  apps/category/package.json
  apps/category/src/category/category.controller.ts
  apps/category/src/category/pipes/empty-body.ts
  apps/user/src/user/pipes/empty-body.ts
  apps/user/src/user/user.controller.ts
  libs/nest/src/decorators/index.ts
  libs/nest/src/decorators/not-empty-body.decorator.ts
  libs/nest/src/index.ts
  libs/nest/src/pipes/index.ts
  libs/nest/src/pipes/not-empty-body.pipe.ts
  package-lock.json
Due: none

feat: add global auth guard
  apps/auth/src/auth/auth.controller.ts
  apps/product/package.json
  apps/product/src/product/product.controller.ts
  apps/profile/package.json
  apps/profile/src/address/address.controller.ts
  apps/profile/src/business/business.controller.ts
  apps/profile/src/customer/customer.controller.ts
  apps/review/package.json
  apps/review/src/review/review.controller.ts
  apps/user/src/user/user.controller.ts
  libs/nest/src/decorators/auth.decorator.ts
  libs/nest/src/decorators/index.ts
  libs/nest/src/guards/auth.guard.ts
  libs/nest/src/guards/index.ts
  libs/nest/src/index.ts
  package-lock.json
Due: none

Add the functions to add a Category and a Product in the database
  apps/admin/src/api/category.api.ts
  apps/admin/src/api/product.api.ts
  apps/admin/src/api/user.api.ts
  apps/admin/src/components/Forms/CustomFormButton.tsx
  apps/admin/src/components/Forms/CustomFormDropdown.tsx
  apps/admin/src/components/Forms/CustomFormInput.tsx
  apps/admin/src/pages/Categories.tsx
  apps/admin/src/pages/Categories/AddCategory.tsx
  apps/admin/src/pages/Products/AddProduct.tsx
  apps/admin/src/routes/admin.tsx
Due: build-admin, test-admin, deploy-admin

feat: add winston based logger library
  libs/logger/package.json
  libs/logger/src/index.ts
  libs/logger/src/lib/logger.ts
  libs/logger/src/types/log.ts
  libs/logger/src/utils/format.ts
  libs/logger/tsconfig.json
  package-lock.json
Due: none

chore(gateway): add proxy response listener
  apps/gateway/src/utils/proxy.ts
Due: none

refactor: use logger everywhere
  apps/cart/package.json
  apps/cart/src/config/index.ts
  apps/files/package.json
  apps/files/src/routes/html.ts
  apps/files/src/services/template.service.ts
  apps/gateway/package.json
  apps/gateway/src/utils/proxy.ts
  apps/inventory/package.json
  apps/inventory/src/config/index.ts
  apps/mailer/package.json
  apps/mailer/src/lib/mailer.ts
  apps/order/package.json
  apps/order/src/config/index.ts
  apps/order/src/services/order.service.ts
  apps/payment/package.json
  apps/payment/src/controllers/payment.controller.ts
  libs/amqp/package.json
  libs/amqp/src/lib/amqp.ts
  libs/errors/package.json
  libs/errors/src/lib/exceptions/HttpError.ts
  libs/errors/src/lib/express/exceptionHandler.ts
  libs/helpers/package.json
  libs/helpers/src/lib/fetch.ts
  libs/helpers/src/lib/resource.ts
  libs/registry/package.json
  libs/registry/src/utils/parser.ts
  package-lock.json
Due: none

feat(gateway): provide health check route
  apps/gateway/src/index.ts
  apps/gateway/src/routes/health.ts
Due: none

chore: docker compose for demo with sql script
  .env.example
  .gitignore
  Makefile
  apps/user/src/user/user.controller.ts
  docker-compose.demo.yml
  scripts/sql/shifter-shop-cluster.sql
Due: none

fix: fix build issues
  apps/admin/src/providers/AuthProvider.tsx
  apps/client/src/components/forms/NewForm.tsx
  apps/client/src/components/home/Ad.tsx
Due: build-admin, test-admin, deploy-admin, build-client, test-client, deploy-client

fix: remove constraint on columns
  apps/category/src/category/entities/category.entity.ts
  apps/product/src/product/entities/product.entity.ts
  apps/profile/src/address/entities/address.entity.ts
  apps/profile/src/business/entities/business-profile.entity.ts
  apps/profile/src/customer/entities/customer-profile.entity.ts
  apps/review/src/review/entities/review.entity.ts
  apps/user/src/user/entities/user.entity.ts
Due: none

fix: fix build issues
  apps/admin/package.json
  package-lock.json
Due: build-admin, test-admin, deploy-admin

chore: update readme
  README.md
  docker-compose.demo.yml
Due: none

chore: review k8s manifests for local testing
  Makefile
  kubernetes/api/api-gateway.yml
  kubernetes/api/auth-svc.yml
  kubernetes/api/cart-svc.yml
  kubernetes/api/category-svc.yml
  kubernetes/api/files-svc.yml
  kubernetes/api/inventory-svc.yml
  kubernetes/api/invoice-svc.yml
  kubernetes/api/mailer-svc.yml
  kubernetes/api/order-svc.yml
  kubernetes/api/payment-svc.yml
  kubernetes/api/product-svc.yml
  kubernetes/api/profile-svc.yml
  kubernetes/api/review-svc.yml
  kubernetes/api/search-svc.yml
  kubernetes/api/user-svc.yml
  kubernetes/development/optional/mailer.yml
  kubernetes/development/optional/secrets.tempate.yml
  kubernetes/development/rabbitmq.yml
  kubernetes/development/stripe.yml
  kubernetes/web/admin.yml
  kubernetes/web/client.yml
Due: none

Path conditions:
  build-admin: any of: apps/admin/**/*
  test-admin: any of: apps/admin/**/*
  deploy-admin: any of: apps/admin/**/*
  build-api: any of: api/**/*
  test-api: any of: api/**/*
  deploy-api: any of: api/**/*
  build-client: any of: apps/client/**/*
  test-client: any of: apps/client/**/*
  deploy-client: any of: apps/client/**/*
