Repository maheryy/shifter-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, test-admin, deploy-admin, build-api, test-api, deploy-api, build-client, test-client, deploy-client

.gitlab/admin.gitlab-ci.yml:

.cache-admin:
  cache:
    key:
      files:
        - admin/package-lock.json
    paths:
      - admin/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - admin/node_modules

build-admin:
  stage: build
  image: node:18
  script:
    - cd admin
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-admin
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - admin/**/*

test-admin:
  stage: test
  image: node:18
  script:
    - cd admin
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - admin/**/*

deploy-admin:
  stage: deploy
  image: node:18
  script:
    - cd admin
    - echo "Deploying admin"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - admin/**/*

.gitlab/api.gitlab-ci.yml:

.cache-api:
  cache:
    key:
      files:
        - api/package-lock.json
    paths:
      - api/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - api/node_modules

build-api:
  stage: build
  image: node:18
  script:
    - cd api
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-api
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

test-api:
  stage: test
  image: node:18
  script:
    - cd api
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - api/**/*

deploy-api:
  stage: deploy
  image: node:18
  script:
    - cd api
    - echo "Deploying API"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - api/**/*

.gitlab/client.gitlab-ci.yml:

.cache-client:
  cache:
    key:
      files:
        - client/package-lock.json
    paths:
      - client/.npm
    policy: pull-push
  artifacts:
    expire_in: 1h
    paths:
      - client/node_modules

build-client:
  stage: build
  image: node:18
  script:
    - cd client
    - npm ci --cache .npm --prefer-offline
    - npm run build
  extends: .cache-client
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - client/**/*

test-client:
  stage: test
  image: node:18
  script:
    - cd client
    - npm run test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - client/**/*

deploy-client:
  stage: deploy
  image: node:18
  script:
    - cd client
    - echo "Deploying client"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - client/**/*

feat(terraform): provision gke
  .vscode/extensions.json
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/.terraformignore
  terraform/main.tf
  terraform/provider.tf
  terraform/variables.tf
  terraform/versions.tf
Due: none

feat(terraform): provision artifact repository
  terraform/.gitignore
  terraform/main.tf
Due: none

refactor: use absolute imports for api app
  api/package.json
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.spec.ts
  api/src/auth/auth.service.ts
  api/src/auth/decorators/is-authenticated.decorator.ts
  api/src/auth/strategies/jwt.strategy.ts
  api/src/decorators/remove-password.decorator.ts
  api/src/encryption/configs/bcrypt.config.ts
  api/src/encryption/encryption.module.ts
  api/src/encryption/encryption.service.spec.ts
  api/src/helper/helper.module.ts
  api/src/helper/helper.service.spec.ts
  api/src/helper/helper.service.ts
  api/src/invoice/invoice.controller.spec.ts
  api/src/invoice/invoice.controller.ts
  api/src/invoice/invoice.module.ts
  api/src/invoice/invoice.service.spec.ts
  api/src/invoice/invoice.service.ts
  api/src/mailer/mailer.module.ts
  api/src/mailer/mailer.service.ts
  api/src/main.ts
  api/src/prisma/prisma.module.ts
  api/src/stripe/stripe.controller.spec.ts
  api/src/stripe/stripe.controller.ts
  api/src/stripe/stripe.module.ts
  api/src/stripe/stripe.service.spec.ts
  api/src/stripe/stripe.service.ts
  api/src/user/user.module.ts
  api/src/user/user.service.spec.ts
  api/src/user/user.service.ts
  api/test/app.e2e-spec.ts
  api/test/auth.e2e-spec.ts
  api/test/jest.e2e.config.ts
Due: build-api, test-api, deploy-api

refactor: handlebars templates directory
  api/.env.example
  api/Dockerfile
  api/nest-cli.json
  api/src/assets/.gitkeep
  api/src/assets/templates/invoice.hbs
  api/src/assets/templates/order-confirmation.hbs
  api/src/helper/helper.service.ts
  api/src/invoice/invoice.service.ts
  api/src/mailer/mailer.module.ts
  api/src/mailer/mailer.service.ts
Due: build-api, test-api, deploy-api

refactor: use absolute imports for admin app
  admin/src/App.tsx
  admin/src/components/Header/Header.tsx
  admin/src/components/Header/HeaderMenu.tsx
  admin/src/components/Header/index.tsx
  admin/src/components/Sidebar/Sidebar.tsx
  admin/src/components/Sidebar/SidebarMenu.tsx
  admin/src/components/Sidebar/index.tsx
  admin/src/hooks/context.ts
  admin/src/layouts/DefaultLayout.tsx
  admin/src/main.tsx
  admin/src/routes/index.tsx
  admin/tests/components/Header.test.tsx
  admin/tests/pages/Home.test.tsx
  admin/tsconfig.json
  admin/vite.config.ts
  admin/vitest.config.ts
Due: build-admin, test-admin, deploy-admin

chore: add base k8s manifests
  .gitignore
  kubernetes/configmaps/app.yml
  kubernetes/deployments/admin.yml
  kubernetes/deployments/api.yml
  kubernetes/deployments/client.yml
  kubernetes/development/mailer.yml
  kubernetes/development/postgres.yml
  kubernetes/development/secrets.tempate.yml
  kubernetes/development/stripe.yml
  kubernetes/secrets/.gitkeep
  kubernetes/services/admin.yml
  kubernetes/services/api.yml
  kubernetes/services/client.yml
Due: none

chore: init analytics app
  analytics/package-lock.json
  analytics/package.json
  analytics/src/config/index.ts
  analytics/src/index.ts
  analytics/tsconfig.json
Due: none

chore: add mongo singleton
  .gitignore
  analytics/.env.example
  analytics/package-lock.json
  analytics/package.json
  analytics/src/database/Mongo.ts
  analytics/src/index.ts
  analytics/src/routes/analytics.ts
  analytics/tsconfig.json
  docker-compose.yml
Due: none

feat: parse user-agent with ua-parser
  analytics/package-lock.json
  analytics/package.json
  analytics/src/index.ts
  analytics/src/routes/analytics.ts
Due: none

chore: dockerize analytics api
  analytics/.dockerignore
  analytics/Dockerfile
  analytics/package-lock.json
  analytics/package.json
  analytics/tsconfig.json
Due: none

chore: downgrade node pool
  terraform/main.tf
Due: none

chore: server startup with mongo requirement
  analytics/src/config/index.ts
  analytics/src/database/Mongo.ts
  analytics/src/index.ts
  analytics/src/routes/analytics.ts
Due: none

chore: init analytics tracker middleware
  analytics/package.json
  analytics/src/config/tracker.ts
  analytics/src/index.ts
  analytics/src/middlewares/tracker.ts
  analytics/src/routes/analytics.ts
  analytics/src/types/express/index.d.ts
Due: none

deps: fix vulnerabilities
  api/package-lock.json
Due: build-api, test-api, deploy-api

feat(terraform): fix k8s version
  terraform/main.tf
Due: none

feat(terraform): upgrade node pool machine type
  terraform/main.tf
Due: none

feat(terraform): add required apis activations
  terraform/apis.tf
Due: none

feat(terraform): pin k8s version to 1.26.3-gke.1000
  terraform/main.tf
Due: none

feat(terraform): switch to zonal cluster
  terraform/main.tf
  terraform/variables.tf
Due: none

feat: deploy app with ingresses
  kubernetes/admin.yml
  kubernetes/api.yml
  kubernetes/client.yml
  kubernetes/configmap.yml
  kubernetes/deployments/admin.yml
  kubernetes/deployments/client.yml
  kubernetes/services/admin.yml
  kubernetes/services/api.yml
  kubernetes/services/client.yml
Due: none

feat(terraform): add secrets
  terraform/secrets.tf
  terraform/variables.tf
Due: none

feat: configure k8s to access secret manager
  kubernetes/service-account.yml
  terraform/iam.tf
  terraform/secrets.tf
Due: none

refactor(terraform): use tf google providers resources to handle secrets
  terraform/iam.tf
  terraform/secrets.tf
Due: none

✨ feat(roots): Add basic roots for user entity
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/strategies/jwt.strategy.ts
  api/src/invoice/invoice.controller.ts
  api/src/user/user.controller.ts
  api/src/user/user.module.ts
  api/src/user/user.service.ts
Due: build-api, test-api, deploy-api

✨ feat(roots): Add basic roots for review entity
  api/src/app.module.ts
  api/src/review/review.controller.ts
  api/src/review/review.module.ts
  api/src/review/review.service.spec.ts
  api/src/review/review.service.ts
Due: build-api, test-api, deploy-api

✨ feat(roots): Add 'Roles' decorator
  api/src/decorators/roles.decorator.ts
Due: build-api, test-api, deploy-api

✨ feat(roots): Add basic roots for order entity
  api/src/app.module.ts
  api/src/order/order.controller.ts
  api/src/order/order.module.ts
  api/src/order/order.service.spec.ts
  api/src/order/order.service.ts
Due: build-api, test-api, deploy-api

✨ feat(roots): Add some routes on Order and Review entities
  api/src/order/order.controller.ts
  api/src/order/order.service.ts
  api/src/review/review.controller.ts
  api/src/review/review.service.ts
Due: build-api, test-api, deploy-api

✅ feat(routes): Fix Auth tests
  api/src/auth/auth.service.spec.ts
Due: build-api, test-api, deploy-api

✅ feat(route): Fix Review and Order tests
  api/src/order/order.service.spec.ts
  api/src/review/review.service.spec.ts
Due: build-api, test-api, deploy-api

🗃 feat(database): Update database's schema
  api/prisma/migrations/20230512084610_uuid_status/migration.sql
  api/prisma/schema.prisma
  api/prisma/seed.ts
Due: build-api, test-api, deploy-api

✏ fix(types): Fix some types + related tests
  api/src/auth/auth.service.spec.ts
  api/src/order/order.controller.ts
  api/src/order/order.service.ts
  api/src/review/review.controller.ts
  api/src/review/review.service.ts
  api/src/user/user.controller.ts
  api/src/user/user.service.ts
Due: build-api, test-api, deploy-api

✏ fix(stripe): Fix stripe types
  api/src/stripe/interfaces/stripe.interface.ts
  api/src/stripe/stripe.controller.ts
  api/src/stripe/stripe.service.ts
Due: build-api, test-api, deploy-api

✨ feat(modules): Add basic controllers for Category and Product
  api/src/app.module.ts
  api/src/category/category.controller.ts
  api/src/category/category.module.ts
  api/src/category/category.service.spec.ts
  api/src/category/category.service.ts
  api/src/order/order.controller.ts
  api/src/order/order.service.ts
  api/src/product/product.controller.ts
  api/src/product/product.module.ts
  api/src/product/product.service.spec.ts
  api/src/product/product.service.ts
  api/src/review/review.controller.ts
  api/src/review/review.service.ts
  api/src/user/user.controller.ts
  api/src/user/user.service.ts
Due: build-api, test-api, deploy-api

feat(terraform): provision PG 15 database
  terraform/main.tf
  terraform/variables.tf
Due: none

fix(kubernetes): fix readonly-secrets service account annotations
  kubernetes/service-account.yml
Due: none

feat(kubernetes): use csi driver to retrieve secrets
  kubernetes/api.yml
  kubernetes/secret-manager.yml
  kubernetes/secrets/.gitkeep
Due: none

fix: set supported postgres version
  terraform/main.tf
Due: none

feat(terraform): set explicit region for database
  terraform/main.tf
Due: none
